<section class="register-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="register-container">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4>Reset Password</h4>
              </div>
              <div class="panel-body">
                  <form [formGroup]="passwordFormGroup">
                      <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input type="password"  name="new_pwd" formControlName="password" [(ngModel)]="forget_password" class="form-control" />
                        <div *ngIf="!passwordFormGroup.controls['password'].valid && passwordFormGroup.controls['password'].dirty">
                            <span *ngIf="passwordFormGroup.controls['password'].errors['required']" class="text-danger">Password is required.</span>
                            <span *ngIf="passwordFormGroup.controls['password'].errors['minlength']" class="text-danger">Must be longer than 6 characters.</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" name="conf_pwd" formControlName="conf" [(ngModel)]="conf" class="form-control" />
                        <div *ngIf="!passwordFormGroup.controls['conf'].valid && passwordFormGroup.controls['conf'].dirty">
                            <span *ngIf="passwordFormGroup.controls['conf'].errors['required']" class="text-danger">Confirm password is required.</span>
                            <span *ngIf="passwordFormGroup.controls['conf'].errors['minlength']" class="text-danger">Must be longer than 6 characters.</span>
                            <span *ngIf="passwordFormGroup.controls['conf'].errors['mismatch']" class="text-danger">Please add valid confirm password.</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-success" (click)="resetPassword()" [disabled]="!passwordFormGroup.valid || show_spinner">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                        <button class="btn btn-danger" routerLink="">Cancel</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>