<!-- Sidebar -->
<div class="top_container">
    <ul class="profile_container">
        <li class="sidebar-brand">
            <a class="profile_name" href="javascript:;">
                <span class="user_profile">
                    <img src="img/user_profile.jpg" />
                </span>
                <h3 class="user_name">Rob Gales</h3>
                <h5 class="user_profession">Admin</h5>
                <div class="dropdown" dropdown>
                    <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle drop_icon">
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
    <a href="javascript:;menu-toggle" class="btn btn-secondary" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="sidebar-wrapper">

    <ul class="sidebar-nav">
        <li class="home" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin">
                <i></i>Home</a>
        </li>
        <li class="bell" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/alerts">
                <i></i>Alert</a>
        </li>
        <li class="artist" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/artist">
                <i></i>Artist</a>
        </li>
        <li class="users" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/users">
                <i></i>Users</a>
        </li>
        <li>
            <hr/>
        </li>
        <li class="contest" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/contest">
                <i></i>Contest</a>
        </li>
        <li class="roles" routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/roles">
                <i></i>Roles</a>
        </li>
        <li class="log_out" >
            <a href="javascript:;" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->