<!-- Sidebar -->
<div class="top_container">
        <ul class="profile_container">
            <li class="sidebar-brand">
                <a class="profile_name" href="javascript:;">
                    <span class="user_profile"><img src="img/user_profile.jpg" /></span>
                    <h3 class="user_name">Rob Gales</h3>
                    <h5 class="user_profession">Admin</h5>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle drop_icon" data-toggle="dropdown">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:;">Link 1</a>
                            <a class="dropdown-item" href="javascript:;">Link 2</a>
                            <a class="dropdown-item" href="javascript:;">Link 3</a>
                        </div>
                    </div>                      
                </a>
            </li>
        </ul>
         <a href="javascript:;menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-bars"></i></a>
        </div>
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="home active">
                <a href="javascript:;"><i></i>Home</a>
            </li>
            <li class="bell">
                <a href="javascript:;"><i></i>Alert</a>
            </li>
            <li class="artist">
                <a href="javascript:;"><i></i>Artist</a>
            </li>
            <li class="users">
                <a href="javascript:;"><i></i>Users</a>
            </li>
            <li>
                <hr/>
            </li>
            <li class="contest">
                <a href="javascript:;"><i></i>Contest</a>
            </li>
            <li class="roles">
                <a href="javascript:;"><i></i>Roles</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->