 <!-- Page Content -->
 <div id="page-content-wrapper">           
    <div class="artist_content" style="display: block;">
      <div>
        <h3 class="Audience-Overview">Search Artist </h3>
        <div class="search-input header_search">
          <input type="text" name="search" [(ngModel)]="search_str" (keyup)="filterBasedOnSearch($event)" placeholder="Search by Artist Name or Song Title">
        </div>
        <div class="row top_header_filter">
          <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div>
              <div class="artist_heading">Music Genre</div>
              <ul>
                <li>
                  <div class="radio">
                      <label>
                        <input name="musicgenre" type="radio" value="" [(ngModel)]="music_type_id" (click)="filterByMusicType('')">All styles
                        <div class="radio_check"></div>
                      </label>
                  </div>
                </li>
                <li *ngFor="let music of music_type;">
                    <div class="radio">
                        <label>
                          <input name="musicgenre" type="radio" [value]="music._id" [(ngModel)]="music_type_id" (click)="filterByMusicType(music._id)">{{music['name']}}
                          <div class="radio_check"></div>
                        </label>
                    </div>
                </li>
              </ul>
            </div>
            
          </div>
          
          <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <div class="sub-menu-filter">
            <div class="artist_heading">Region</div>
              <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">Northeast</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Marryland</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New Jersey</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Pennsylvania</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input checked="" type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New York</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    
                            <div class="chk_check"></div>
                            <span>Delaware</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">southeast</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Marryland</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New Jersey</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Pennsylvania</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input checked="" type="checkbox" value=""> 
                            <div class="chk_check"></div>
                            <span>New York</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    
                            <div class="chk_check"></div>
                            <span>Delaware</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">Midwest</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Marryland</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New Jersey</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Pennsylvania</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input checked="" type="checkbox" value=""> 
                            <div class="chk_check"></div>
                            <span>New York</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    
                            <div class="chk_check"></div>
                            <span>Delaware</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">Southwest</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Marryland</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New Jersey</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Pennsylvania</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input checked="" type="checkbox" value=""> 
                            <div class="chk_check"></div>
                            <span>New York</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    
                            <div class="chk_check"></div>
                            <span>Delaware</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">West</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Marryland</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>New Jersey</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Pennsylvania</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input checked="" type="checkbox" value=""> 
                            <div class="chk_check"></div>
                            <span>New York</span>
                          </label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    
                            <div class="chk_check"></div>
                            <span>Delaware</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                  <div class="filter-subhead">other</div>
                  <ul>
                    <li>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            <div class="chk_check"></div>
                            <span>Puerto Rico</span>
                          </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       <div>
            <h3 class="Audience-Overview">Artists </h3>
            <div class="dropdown table_dropdown custom_dropdown">
              <select class="form-control custom_drop_btn" id="sort" name="sort_by" [(ngModel)]="sort_by" (change)="sortArtist($event.target.value)">
                <option value="-1">Newest First</option>
                <option value="1">Newest Last</option>
              </select>
            </div> 
            <div class="artists_table copyright_table table-responsive">
              <table class="table" datatable [dtOptions]="dtOptions">
                    <thead>
                      <tr>
                        <th>N<sup>O</sup></th>
                        <th>Artist Name</th>
                        <th>Status</th>
                        <th>Votes</th>
                        <th>Likes</th>
                        <th>Followers</th>
                        <th>Comments</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let artist of artist_data; let i = index;">
                        <td>{{i+1}}.</td>
                        <td><a href="javascript:;" (click)="openModal(template, artist['_id'])">{{artist['first_name']+' '+artist['last_name']}}</a></td>
                        <td class="status {{artist['status'] == 'active' ? 'active_status' : artist['status'] == 'Suspended' ? 'suspended_status' : ''}}"><span>{{artist['status']}}</span></td>                               
                        <td class="td_img"><img src="img/vote.png"/>{{artist['no_of_votes']}}</td>
                        <td class="td_img"><img src="img/likes.png"/>{{artist['no_of_likes']}}</td>
                        <td class="td_img"><img src="img/followers.png"/>{{artist['no_of_followers']}}</td>
                        <td class="td_img"><img src="img/comments.png"/>{{artist['no_of_comments']}}</td> 
                        <td class="td_img"><img src="img/suspend.png">
                          <a href="javascript:;" (click)="suspendArtist(artist['_id'])">{{artist['flag'] ? 'Un-suspend' : 'suspend'}}</a>
                        </td>                               
                      </tr>
                      <tr *ngIf="artist_data?.length == 0">
                        <td colspan="8" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#page-content-wrapper -->
<ng-template #template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <div class="row" style="padding: 5px;" >
      <div class="col-sm-3">
        <img src="{{artist_detail['image'] ? artist_img_url+artist_detail['image'] : 'img/profile-img.png'}}" />
      </div>
      <div class="col-sm-9">
        <h3>{{artist_detail['first_name']+' '+artist_detail['last_name']}}</h3>
        <span>Featured Artist</span>
        <div>
          <span>{{artist_detail['gender']}}</span>
          <span>{{artist_detail['old'] }} y.o.</span>
          <span>{{artist_detail['location']}}</span>
        </div>
        <div>
          <span>Votes {{artist_detail['no_of_votes']}}</span>
          <span>Like {{artist_detail['no_of_likes']}}</span>
          <span>Followers {{artist_detail['no_of_followers']}}</span>
          <span>Comments {{artist_detail['no_of_comments']}}</span>
        </div>
        <div>
          <span>Signup date : {{artist_detail['created_at'] | date : 'yyyy/MM/dd'}}</span>
          <span>Last Login : {{artist_detail['last_login'] | date : 'yyyy/MM/dd'}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <b>Tracks</b>
      </div>
      <div class="artists_table copyright_table table-responsive col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th>N<sup>O</sup></th>
                <th>Track Name</th>
                <th>Duration</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let track of artist_track; let i = index;">
                <td>{{i+1}}</td>
                <td>{{track['name']}}</td>
                <td>3:10</td>
                <td class="td_img">
                  <a href="javascript:;" (click)="removeTrack(track['_id'])"><i class="fa fa-trash"></i> Delete</a>&nbsp;
                  <img src="img/suspend.png">
                  <a href="javascript:;"> Suspend</a>
                </td>
              </tr>
              <tr *ngIf="artist_track?.length == 0">
                <td colspan="4">No data available.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <b>Flags</b>
      </div>
      <div class="table-responsive col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of artist_flag">
                <td>{{val.created_at | date : 'MMMM dd, yyyy'}}</td>
                <td>{{val['from']['account_type']}}</td>
                <td>Suspended by {{val['from']['account_type']}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>