<footer class="custom_footer">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="foo-top ">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 footer_first">
              <ul class="foo-links">
                <li>
                  <a href="javascript:;" routerLink="/whats-new">Whats New</a>
                </li>
                <li>
                  <a href="javascript:;" routerLink="/artist">Artists</a>
                </li>
                <li>
                  <a href="javascript:;" routerLink="/vote">Vote</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <ul class="foo-links">
                <li>
                  <a href="javascript:;">FAQ</a>
                </li>
                <li>
                  <a href="javascript:;">Privacy Policy</a>
                </li>
                <li>
                  <a href="javascript:;">Terms & Conditions</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12 social-right">
              <ul class="social-list">
                <li>
                  <a href="https://www.facebook.com">
                    <i class="fa fa-facebook-square fa-3x"></i>
                    <!-- <img src="img/facebook2.png" alt=""> -->
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com">
                    <!-- <i class="fa fa-instagram"></i> -->
                    <img src="img/instagram.png" alt="" style="width: 20px" class="social_icons">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com">
                    <img src="img/twitter.png" alt="" style="width: 30px" class="social_icons">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="foo-bottom col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <a class="foo-logo" href="#">
                <img src="img/foo-logo.png" alt="">
              </a>
              <span>© America’s Original Music</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>