<div class="artist-profile-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cover-img" style="background:url('{{artistdata['cover_image'] ? artist_img_url +artistdata['cover_image'] : 'img/cover.png'}}');">
          <img src="{{artistdata['cover_image'] ? artist_img_url +artistdata['cover_image'] : 'img/cover.png'}}" alt="Cover Image">
        </div>
      </div>
      <div class="col-md-12">
        <div class="profile-detail-wrap profile_comments">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-4">
              <div class="profile-img">
                <img defaultImage="img/loader.gif" offset="100" lazyLoad="{{artistdata['image'] ? artist_img_url +artistdata['image'] : 'img/profile-img.png'}}"
                  alt="Profile Images">
              </div>
              <div class="follow-btn">
                <a href="javascript:;" (click)="followArtist(artistdata._id, i)">
                  <i class="fa fa-{{artist_following ? 'heart' : 'heart-o'}}" aria-hidden="true"></i>
                  {{artist_following ? 'Following' : 'Follow'}}
                </a>
              </div>
              <!-- <div class="follow-btn">
                <a href="javascript:;" (click)="followArtist(artistdata._id, i)">
                  <i class="fa fa-{{artist_following ? 'heart' : 'heart-o'}}" aria-hidden="true"></i>
                  {{artist_following ? 'Following' : 'Follow'}}
                </a>
              </div> -->
              <div class="social">
                <h3>Social</h3>
                <ul>
                  <li>
                    <a [href]="artistdata.social_media['facebook']">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['instagram']">
                      <img _ngcontent-c3="" alt="" src="img/inst2.png" style="vertical-align: baseline;">
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['twitter']">
                      <i aria-hidden="true" class="fa fa-twitter"></i>
                    </a>
                  </li>

                  <li>
                    <a [href]="artistdata.social_media['youtube']">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['sound_cloud']">
                      <i class="fa fa-soundcloud" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="follower">
                <h3>Followers</h3>
                <span>{{artistfollower.length}}</span>,
                <ul>
                  <li *ngFor="let follower of artistfollower;">
                    <img src="{{follower && follower['user_id'] && follower['user_id'].image ? user_img_url+follower['user_id'].image : 'img/upload1.png'}}"
                      alt="Fan">
                  </li>
                </ul>
              </div>

              <div class="comments">
                <h3>
                  <a href="javascript:;" routerLink="/artist_profile/{{artistdata._id}}/comments">Comments</a>
                </h3>
                <span>{{artistcomments.length}}</span>
                <div class="comment-block" *ngFor="let comment of display_comment;">
                  <div class="s-name" *ngIf="comment.track_id">{{comment.track_id.name}}</div>
                  <div class="s-img">
                    <img src="{{comment &&  comment.user_id && comment.user_id.image ? user_img_url+comment.user_id.image : 'img/upload1.png' }}"
                      alt="img">
                  </div>
                  <div class="cm-date-name">
                    <h6>{{comment.user_id && comment.user_id.first_name ? comment.user_id.first_name : '' + ' '+comment
                      && comment.user_id && comment.user_id.last_name ? comment.user_id.last_name : '' }}.</h6>
                    <p>{{comment.created_at | timeAgo}}</p>

                  </div>
                  <div class="profile-description">
                    <p>{{comment.comment}}</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="artist-name">
                <h2>
                  {{artistdata['first_name']+' '+artistdata['last_name']}}
                </h2>
                <span class="{{artistdata.music_type['alias']}} cat">{{artistdata.music_type['name']}}</span>
              </div>
              <div class="profile-location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{artistdata && artistdata.state ? artistdata.state['name'] : ''}}</span>
              </div>

              <div class="profile-description {{show_more_flag ? 'show_more' : ''}}">
                <span *ngIf="!show_more_flag">{{artistdata.description | slice:0:50}}
                </span>
                <span *ngIf="show_more_flag">{{artistdata.description}}
                </span>
                <a href="javascript:;" (click)="show_more()" *ngIf="artistdata.description && artistdata.description.length > 50"
                  class="more">{{show_more_flag
                  ? 'less...' : 'more...'}}</a>
              </div>
              <div class="profile-tabs-det">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item ">
                    <a class="nav-link {{active_tab_index == 1 ? 'active show' : ''}}" (click)="manageTabChange(1)"
                      data-toggle="tab" href="javascript:;">Tracks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{active_tab_index == 2 ? 'active show' : ''}}" (click)="manageTabChange(2)"
                      data-toggle="tab" href="javascript:;">Media</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{active_tab_index == 3 ? 'active show' : ''}}" (click)="manageTabChange(3)"
                      data-toggle="tab" href="javascript:;">Ranking</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="tracks" class="tab-pane fade {{active_tab_index == 1 ? 'active show' : ''}}">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" name="artist_track" id="gender" (change)="sortArtistTrack(0, $event.target.value)">
                          <option value="-1">Newest First</option>
                          <option value="1">Newest Last</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <!-- <div class="alert alert-info" *ngIf="artisttrack && artisttrack.length <= 0">No data available.</div> -->
                        <table datatable [dtOptions]="dtOptions[0]">
                          <tbody>
                            <tr *ngFor="let artist of artisttrack;let i=index;">
                              <td class="serial-num music_numb">{{(artist_track_row_cnt + i)}}.</td>
                              <td class="music_play">
                                <div class="artist-profile-custom-action-btn">
                                  <a [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(artist.audio, i, artisttrack)"
                                    class="play_img"><img src="img/play_icon.png" /></a>
                                  <a [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i, artisttrack)"
                                    class="pause_img"><img src="img/pause_icon.png" /></a>
                                </div>
                                <!-- <img src="img/play.png " alt="Pause "  [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(artist.audio, i, artisttrack)">
                                    <img src="img/pause.png " alt="Pause "  [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i, artisttrack)"> -->

                              </td>

                              <td class="track-det" colspan="2">
                                <div class="track-pic">
                                  <a href="javascript:;">
                                    <img defaultImage="img/loader.gif" offset="100" lazyLoad="{{artist.image ? track_url+artist.image : 'img/upload1.png'}}"
                                      style="height:50px;width:50px;" alt="Track Image">
                                  </a>
                                </div>
                                <div class="track_title">
                                  <p class="track-name">{{artist.name}}</p>
                                  <p class="track-singer">{{artist.artist_id.first_name+'
                                    '+artist.artist_id.last_name}}</p>
                                  <p class="track-year">{{artist.created_at | date : 'yyyy'}}</p>
                                  <p class="track-date">{{artist.created_at | date : 'MMMM dd,yyyy'}}</p>
                                </div>
                              </td>

                              <td class="td track-vote music_vote">
                                <img src="img/start.png" alt="start">
                                <span>{{artist.no_of_votes}}
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action music_action" colspan="2">
                                <div class="cmt">
                                  <a href="javascript:;" title="Bookmarked Track" class="liked" (click)="bookMarkTrack(artist._id, i, 'track')">
                                    <i class="fa {{artist['is_bookmarked'] ? 'fa-heart' : 'fa-heart-o'}}"></i>
                                  </a>
                                </div>
                                <div class="cmt-like">
                                  <a href="javascript:;" title="Like" class="liked" (click)="likeTrack(artist._id, i)">
                                    <img class="like_bw" src="img/likehand.png" alt=""><img class="like_active" src="img/like-color.jpg"
                                      alt="">{{artist.no_of_likes}}
                                  </a>
                                </div>
                                <div class="cmt">
                                  <a href="javascript:;" title="Comment" (click)="goToComment(artistdata['_id'], artist._id)">
                                    <img src="img/comment.png" alt="">{{artist.no_of_comments}}</a>
                                </div>
                                <div class="download" *ngIf="artist.is_downloadable">
                                  <a href="javascript:;" title="Download">
                                    <img src="img/download.png" (click)="downloadTrack(artist._id)" alt="">
                                  </a>
                                </div>
                                <div class="cmt">
                                  <a href="javascript:;" title="Purchase" (click)="openCardModel(purchase, i, 'track')">
                                    ${{artist.price}}
                                  </a>
                                </div>
                                <div class="share">
                                  <a href="javascript:;" title="Share" (click)="openShareTrackModel(shareTrack, i, 'track')">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="artisttrack?.length == 0">
                            <tr>
                              <td colspan="10" class="no-data-available">No data available!</td>
                            </tr>
                          <tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div id="media" class="tab-pane fade {{active_tab_index == 2 ? 'active show' : ''}}">


                    <div class="alert alert-info" *ngIf="artistmedia.length <= 0">No data available.</div>
                    <div class="media-wrapper">
                      <div class="" *ngFor="let media of artistmedia; let i = index;">
                        <a class="img-wrap" href="javascript:;" data-fancybox="images" data-width="1500" data-height="1000">
                          <!-- <img src="{{media.image ? artist_media_url+media.image : 'img/no-image.png'}}" alt="Media"> -->
                          <img defaultImage="img/loader.gif" offset="100" lazyLoad="{{media.image ? artist_media_url+media.image : 'img/no-image.png'}}"
                            alt="Media">
                        </a>
                        <video class="media_video" *ngIf="media.link" width="218" height="138" controls>
                          <source [src]="media.link">
                        </video>

                      </div>

                    </div>
                  </div>
                  <div id="ranking" class="tab-pane fade {{active_tab_index == 3 ? 'active show' : ''}}">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" id="sort" (change)="sortRankingTrack(1, $event.target.value)">
                          <option value="-1">Newest First</option>
                          <option value="1">Newest Last</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <!-- <div class="alert alert-info" *ngIf="rankingtrack.length <= 0">No data available.</div> -->
                        <table datatable [dtOptions]="dtOptions[1]">
                          <tbody>
                            <tr *ngFor="let rank of rankingtrack;let i=index;">
                              <td class="serial-num">{{ranking_track_row_cnt+i}}.</td>
                              <td class="play-option">
                                <div class="artist-profile-custom-action-btn">
                                  <a [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playRankAudio(rank.audio, i, rankingtrack)"
                                    class="play_img"><img src="img/play_icon.png" /></a>
                                  <a [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopRankAudio(i, rankingtrack)"
                                    class="pause_img"><img src="img/pause_icon.png" /></a>
                                </div>
                                <!-- <a href="javascript:;">
                                    <img src="img/play.png " alt="Pause "  [style.display]="!rank_audio_ins[i] ? 'block' : 'none'" (click)="playRankAudio(rank.audio, i, rankingtrack)">
                                    <img src="img/pause.png " alt="Pause "  [style.display]="rank_audio_ins[i] ? 'block' : 'none'" (click)="stopRankAudio(i, rankingtrack)">
                                </a> -->
                              </td>

                              <td class="track-det" colspan="2">
                                <div class="track-pic">
                                  <a href="javascript:;">
                                    <img defaultImage="img/loader.gif" offset="100" lazyLoad="{{rank.image ? track_url+rank.image : 'img/upload1.png'}}"
                                      alt="Track Image" style="height: 50px;width: 50px;;">
                                  </a>
                                </div>
                                <div class="track_title">
                                  <p class="track-name">{{rank.name}}</p>
                                  <p class="track-singer">{{rank.artist_id.first_name+' '+rank.artist_id.last_name}}</p>
                                  <p class="track-year">{{rank.created_at | date : 'yyyy'}}</p>
                                  <p class="track-date">{{rank.created_at | date : 'MMMM dd,yyyy'}}</p>
                                </div>
                              </td>

                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>{{rank.no_of_votes}}
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action music_action" colspan="2">
                                <div class="cmt">
                                  <a href="javascript:;" title="Bookmark Track" class="liked" (click)="bookMarkTrack(rank._id, i, 'rank')">
                                    <i class="fa {{rank['is_bookmarked'] ? 'fa-heart' : 'fa-heart-o'}}"></i>
                                  </a>
                                </div>
                                <div class="cmt-like">
                                  <a class="liked" title="Like" href="javascript:;" (click)="likeRankTrack(rank._id, i)">
                                    <img class="like_bw" src="img/likehand.png" alt=""><img class="like_active" src="img/like-color.jpg"
                                      alt="">{{rank.no_of_likes}}</a>
                                </div>
                                <div class="cmt">
                                  <a href="javascript:;" title="Comment" (click)="goToComment(rank._id)">
                                    <img src="img/comment.png" alt="">{{rank.no_of_comments}}</a>
                                </div>
                                <div class="download" *ngIf="rank.is_downloadable">
                                  <a href="javascript:;" title="Download">
                                    <img src="img/download.png" (click)="downloadTrack(rank._id)" alt="">
                                  </a>
                                </div>
                                <div class="cmt">
                                  <a href="javascript:;" title="Download" title="Purchase" (click)="openCardModel(purchase, i, 'rank')">
                                    ${{rank.price}}
                                  </a>
                                </div>
                                <div class="share">
                                  <a href="javascript:;" title="Share" (click)="openShareTrackModel(shareTrack, i, 'rank')">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            
                            </tr>
                          </tbody>
                          <tbody *ngIf="rankingtrack?.length == 0">
                            <tr>
                              <td colspan="10" class="no-data-available">No data available!</td>
                            </tr>
                          <tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #shareTrack let-c="close" let-d="dismiss">
  <div class="modal_login_wrapper">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="shared_popup">
      <div class="col-12 text-center shared_popup_header">
        <h4>Share This Track</h4>
        <span>You are Sharing the "{{track_data && track_data['name'] ? track_data['name'] : '' }}" Track</span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="col-12">
            <button class="btn btn-primary social_button fb_btn" (click)="shareOnFacebook()">
              <i class="fa fa-facebook"></i> Facebook
            </button>
          </div>
          <div class="col-12">
            <button class="btn btn-success social_button comment_btn" (click)="openPhoneShareTrackModel(phoneno)">
              <i class="fa fa-comment "></i> SMS
            </button>
          </div>
          <div class="col-12">
            <button class="btn btn-primary social_button link_btn" (click)="copy_link()" tooltip="Link Coppied"
              triggers="click">
              <i class="fa fa-link"></i> Copy Link
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-12">
            <button class="btn btn-info social_button twitter_btn" (click)="shareOnTwitter()">
              <i class="fa fa-twitter"></i> Twitter
            </button>
          </div>
          <div class="col-12">
            <button class="btn btn-danger social_button email_btn" (click)="openEmailShareTrackModel(email)">
              <i class="fa fa-envelope"></i> Email
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #email let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="forget_password_modal">
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button> -->
      <form [formGroup]="share_form">
        <h3 class="forget_password_header">Share through email</h3>
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label custom_form_label">Email Id</label>
            <input type="email" class="form-control custom_form" formControlName="email" name="email" [(ngModel)]="share_data['email']"
              placeholder="Enter Email" />
            <div class="cust_err_msg" *ngIf="share_form_validation && !share_form.controls['email'].valid">
              <span *ngIf="share_form.controls['email'].errors['required']" class="text-danger">Email is required.</span>
              <span *ngIf="!share_form.controls['email'].errors['required'] && share_form.controls['email'].errors['email']"
                class="text-danger">Enter valid email.</span>
            </div>
          </div>
          <div class="form-group text-right">
            <button class="btn forget_btn" (click)="share_via_email(share_form.valid)" [disabled]="show_spinner">Submit
              <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #phoneno let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="forget_password_modal">
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button> -->
      <form [formGroup]="share_form_phone">
        <h3 class="forget_password_header">Share through sms</h3>
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label custom_form_label">Phone Number</label>
            <input type="email" class="form-control custom_form" formControlName="phone" name="phone" [(ngModel)]="share_data['phone_no']"
              placeholder="Enter Phone Number" />
            <div class="cust_err_msg" *ngIf="share_form_validation && !share_form_phone.controls['phone'].valid">
              <span *ngIf="share_form_phone.controls['phone'].errors['required']" class="text-danger">Phone Number is
                required.</span>
              <span *ngIf="!share_form_phone.controls['phone'].errors['required'] && share_form_phone.controls['phone'].errors['minlength'] || share_form_phone.controls['phone'].errors['maxlength'] "
                class="text-danger">Enter valid phone Number.</span>
            </div>
          </div>
          <div class="form-group text-right">
            <button class="btn forget_btn" (click)="share_via_sms(share_form_phone.valid)" [disabled]="show_spinner">Submit
              <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #purchase let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="forget_password_modal">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <form id="payment-form">
        <div class="col-12 text-center shared_popup_header">
          <h4>Purchase Track</h4>
          <span>You are going to purchase the "{{track_data && track_data['name'] ? track_data['name'] : '' }}" Track.</span>
        </div>
        <div class="col-sm-12">
          <!-- <div class="form-group">
                  <label class="control-label custom_form_label">Name</label>
                  <input type="email" class="form-control custom_form" name="Name"  placeholder="Enter Card Name"/>
              </div> -->
          <div *ngIf="card_loader" class="text-center col-12">
            <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
          </div>
          <div class="form-group">
            <label for="card-element" class="control-label custom_form_label">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" class="text-danger" role="alert"></div>
          </div>
          <div class="form-group">
            <label class="control-label custom_form_label">Price</label>
            <input class="form-control custom_form" value="{{'$'+track_data['price']}}" readonly />
          </div>
          <div class="form-group text-right">
            <button class="btn forget_btn" [disabled]="show_spinner || card_loader">Submit <i *ngIf="show_spinner"
                class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>