<div class="artist-profile-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cover-img">
          <img src="img/cover.png" alt="Cover Image">
        </div>
      </div>
      <div class="col-md-12">
        <div class="profile-detail-wrap">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-4">
              <div class="profile-img">
                <a href="javascript:;">
                  <img src="{{artistdata['image'] ? artist_img_url +artistdata['image'] : 'img/profile-img.png'}}" alt="Profile Images">
                </a>
              </div>
              <div class="follow-btn">
                <a href="#">
                  <i class="fa fa-heart" aria-hidden="true"></i> Follow</a>
              </div>
              <div class="social">
                <h3>Social</h3>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-soundcloud" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="follower">
                <h3>Followers</h3>
                <span>530</span>
                <ul>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan2.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan3.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan4.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan5.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan2.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan3.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan4.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan3.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan5.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan2.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan3.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan5.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan4.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan2.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan4.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan3.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan4.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan5.png" alt="Fan">
                  </li>
                  <li>
                    <img src="img/fan1.png" alt="Fan">
                  </li>

                </ul>
              </div>

              <div class="comments">
                <h3>
                  <a href="#comments">Comments</a>
                </h3>
                <span>1200</span>
                <div class="comment-block">
                  <div class="s-name">Blue State of Mind</div>
                  <div class="s-img">
                    <img src="img/fan1.png" alt="img">
                  </div>
                  <div class="cm-date-name">
                    <h6>Liz D.</h6>
                    <p>2 day ago</p>
                  </div>
                  <div class="profile-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore</p>
                    <span>
                      <a href="#" class="more-link"></a>
                    </span>
                  </div>

                </div>
                <div class="comment-block">
                  <div class="s-name">What About You</div>
                  <div class="s-img">
                    <img src="img/fan2.png" alt="img">
                  </div>
                  <div class="cm-date-name">
                    <h6>John D.</h6>
                    <p>2 day ago</p>
                  </div>
                  <div class="profile-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore</p>
                    <span>
                      <a href="#" class="more-link"></a>
                    </span>
                  </div>

                </div>
                <div class="comment-block">
                  <div class="s-name">Tomorrow</div>
                  <div class="s-img">
                    <img src="img/fan2.png" alt="img">
                  </div>
                  <div class="cm-date-name">
                    <h6>Natasha J.</h6>
                    <p>2 day ago</p>
                  </div>
                  <div class="profile-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore</p>
                    <span>
                      <a href="#" class="more-link"></a>
                    </span>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-md-9 col-sm-9 col-xs-8">
              <div class="artist-name">
                <h2>
                  <a href="javascript:;">{{artistdata['first_name']+' '+artistdata['last_name']}}</a>
                </h2>
                <span class=" tag">{{artistdata['music_type'] | json}}</span>
              </div>
              <div class="profile-location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>New York</span>
              </div>
              <div class="profile-description">
                <p>{{artistdata.description}}</p>
              </div>
              <div class="profile-tabs-det">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item ">
                    <a class="nav-link active" data-toggle="tab" href="#tracks">Tracks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#media">Media</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ranking">Ranking</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="tracks" class="tab-pane fade show active">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" id="gender">
                          <option>Newest First</option>
                          <option>Newest First</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <table>
                          <tbody>
                            <tr>
                              <td class="serial-num">1.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Say Thanks</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#" class="liked">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">2.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">What About you</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">3.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/pause.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Blue State of Mind</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">4.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Say Thanks</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">5.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Small Things</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">6.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">My Dreams</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">7.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Say Thanks</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">8.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Tomorrow</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">9.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Will You</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">10.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Sound Waves</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div id="media" class="tab-pane fade show">
                    <div class="media-wrapper">
                      <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a class="img-wrap" href="img/media-1.png" data-fancybox="images" data-width="1500" data-height="1000">
                            <img src="img/media-1.png" alt="Media">
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a class="img-wrap" href="img/media-2.png" data-fancybox="images" data-width="1500" data-height="1000">
                            <img src="img/media-2.png" alt="Media">
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a href="img/media-3.png" data-fancybox="images" data-width="1500" data-height="1000" class="img-wrap">
                            <img src="img/media-3.png" alt="Media">
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a href="img/media-4.png" data-fancybox="images" data-width="1500" data-height="1000" class="img-wrap">
                            <img src="img/media-4.png" alt="Media">
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a href="img/media-5.png" data-fancybox="images" data-width="1500" data-height="1000" class="img-wrap">
                            <img src="img/media-5.png" alt="Media">
                            <a href="#" class="play-btn">
                              <i class="fa fa-play-circle" aria-hidden="true"></i>
                            </a>
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <a href="img/media-6.png" data-fancybox="images" data-width="1500" data-height="1000" class="img-wrap">
                            <img src="img/media-6.png" alt="Media">
                            <a href="#" class="play-btn">
                              <i class="fa fa-play-circle" aria-hidden="true"></i>
                            </a>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="ranking" class="tab-pane fade">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" id="gender">
                          <option>Newest First</option>
                          <option>Newest First</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <table>
                          <tbody>
                            <tr>
                              <td class="serial-num">1.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Say Thanks</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">2.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">What About You</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">3.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/pause.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Blue State of Mind</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">4.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Say Thanks</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="serial-num">5.</td>
                              <td class="play-option">
                                <a href="#">
                                  <img src="img/new-play.png" alt="Play">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="#">
                                  <img src="img/track-img.png" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">Small Things</p>
                                <p class="track-singer">Shavan Miller</p>
                                <p class="track-year">2017</p>
                              </td>
                              <td class="track-date">March 12,2017</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>1300
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#">
                                    <img src="img/like-color.jpg" alt="">1200</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">1200</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">$1.99</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>