<div class="artist-profile-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cover-img">
          <img src="{{artistdata['cover_image'] ? artist_img_url +artistdata['cover_image'] : 'img/cover.png'}}" alt="Cover Image">
        </div>
      </div>
      <div class="col-md-12">
        <div class="profile-detail-wrap">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-4">
              <div class="profile-img">
                <a href="javascript:;">
                  <img src="{{artistdata['image'] ? artist_img_url +artistdata['image'] : 'img/profile-img.png'}}" alt="Profile Images">
                </a>
              </div>
              <div class="follow-btn">
                <a href="javascript:;" (click)="followArtist(artistdata._id, i)">
                  <i class="fa fa-heart" aria-hidden="true"></i> Follow
                </a>
              </div>
              <div class="social">
                <h3>Social</h3>
                <ul>
                  <li>
                    <a [href]="artistdata.social_media['facebook']">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['instagram']">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['youtube']">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a [href]="artistdata.social_media['sound_cloud']">
                      <i class="fa fa-soundcloud" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="follower">
                <h3>Followers</h3>
                <span>{{artistfollower.length}}</span>
                <ul>
                  <li *ngFor="let follower of artistfollower;">
                    <img src="{{follower.image ? user_img_url+follower.image : 'img/fan1.png'}}" alt="Fan">
                  </li>
                </ul>
              </div>

              <div class="comments">
                <h3>
                  <a href="javascript:;">Comments</a>
                </h3>
                <span>{{artistcomments.length+', '+display_comment.length}}</span>
                <div class="comment-block" *ngFor="let comment of display_comment;">
                  <div class="s-name" *ngIf="comment.track_id">{{comment.track_id.name}}</div>
                  <div class="s-img">
                    <img src="{{comment.user_id.image ? user_img_url+comment.user_id.image : 'img/fan1.png' }}" alt="img">
                  </div>
                  <div class="cm-date-name">
                    <h6>{{comment.user_id.first_name+ ' '+comment.user_id.last_name}}.</h6>
                    <p>2 day ago</p>
                  </div>
                  <div class="profile-description">
                    <p>{{comment.comment}}</p>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-md-9 col-sm-9 col-xs-8">
              <div class="artist-name">
                <h2>
                  <a href="javascript:;">{{artistdata['first_name']+' '+artistdata['last_name']}}</a>
                </h2>
                <span class="{{artistdata.music_type['alias']}} cat" >{{artistdata.music_type['name']}}</span>
              </div>
              <div class="profile-location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>New York</span>
              </div>
              <div class="profile-description">
                <p>{{artistdata.description}}</p>
              </div>
              <div class="profile-tabs-det">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item ">
                    <a class="nav-link {{active_tab_index == 1 ? 'active show' : ''}}" (click)="manageTabChange(1)" data-toggle="tab" href="javascript:;">Tracks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{active_tab_index == 2 ? 'active show' : ''}}" (click)="manageTabChange(2)" data-toggle="tab" href="javascript:;">Media</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{active_tab_index == 3 ? 'active show' : ''}}" (click)="manageTabChange(3)" data-toggle="tab" href="javascript:;">Ranking</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="tracks" class="tab-pane fade {{active_tab_index == 1 ? 'active show' : ''}}">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" id="gender">
                          <option>Newest First</option>
                          <option>Newest First</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <div class="alert alert-info" *ngIf="artisttrack.length <= 0">No data available.</div>
                        <table>
                          <tbody>
                            <tr *ngFor="let artist of artisttrack;let i=index;">
                              <td class="serial-num">{{i+1}}.</td>
                              <td class="play-option">
                                <a href="javascript:;">
                                    <img src="img/play.png " alt="Pause "  [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(artist.audio, i)">
                                    <img src="img/pause.png " alt="Pause "  [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i)">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="javascript:;">
                                  <img src="{{artist.image ? track_url+artist.image : 'img/track-img.png'}}" style="height:50px;width:50px;" alt="Track Image">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">{{artist.name}}</p>
                                <p class="track-singer">{{artist.artist_id.name}}</p>
                                <p class="track-year">{{artist.created_at | date : 'yyyy'}}</p>
                              </td>
                              <td class="track-date">{{artist.created_at | date : 'MMMM dd,yyyy'}}</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>{{artist.no_of_votes}}
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="#" class="liked">
                                    <img src="img/like-color.jpg" alt="">{{artist.no_of_likes}}</a>
                                </div>
                                <div class="cmt">
                                  <a href="#">
                                    <img src="img/comment.png" alt="">{{artist.no_of_comments}}</a>
                                </div>
                                <div class="download">
                                  <a href="#">
                                    <img src="img/download.png" alt="">${{artist.price}}</a>
                                </div>
                                <div class="share">
                                  <a href="#">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div id="media" class="tab-pane fade {{active_tab_index == 2 ? 'active show' : ''}}">
                    <div class="media-wrapper">
                      <div class="row">
                        <div class="alert alert-info col-sm-12" *ngIf="artistmedia.length <= 0">No data available.</div>
                        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let media of artistmedia; let i = index;">
                          <a class="img-wrap" href="javascript:;" data-fancybox="images" data-width="1500" data-height="1000" (click)="open(i)">
                            <img src="{{media.image ? artist_media_url+media.image : 'img/media-1.png'}}" alt="Media">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="ranking" class="tab-pane fade {{active_tab_index == 3 ? 'active show' : ''}}">
                    <div class="track-wrapper">
                      <div class="track-select-wrap">
                        <select class="form-control" id="gender">
                          <option>Newest First</option>
                          <option>Newest First</option>
                        </select>
                      </div>
                      <div class="track-table">
                        <div class="alert alert-info" *ngIf="rankingtrack.length <= 0">No data available.</div>
                        <table>
                          <tbody>
                            <tr *ngFor="let rank of rankingtrack;let i=index;">
                              <td class="serial-num">{{i+1}}.</td>
                              <td class="play-option">
                                <a href="javascript:;">
                                    <img src="img/play.png " alt="Pause "  [style.display]="!rank_audio_ins[i] ? 'block' : 'none'" (click)="playAudio(rank.audio, i)">
                                    <img src="img/pause.png " alt="Pause "  [style.display]="rank_audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i)">
                                </a>
                              </td>
                              <td class="track-pic">
                                <a href="javascript:;">
                                  <img src="{{rank.image ? track_url+rank.image : 'img/track-img.png'}}" alt="Track Image" style="height: 50px;width: 50px;;">
                                </a>
                              </td>
                              <td class="track-det" colspan="2">
                                <p class="track-name">{{rank.name}}</p>
                                <p class="track-singer">{{rank.artist_id.first_name+' '+rank.artist_id.last_name}}</p>
                                <p class="track-year">{{rank.created_at | date  : 'yyyy'}}</p>
                              </td>
                              <td class="track-date">{{rank.created_at | date  : 'MMMM dd,yyyy'}}</td>
                              <td class="td track-vote">
                                <img src="img/start.png" alt="start">
                                <span>{{rank.no_of_votes}}
                                  <br>
                                  <span>Votes</span>
                                </span>
                              </td>
                              <td class="action" colspan="2">
                                <div class="cmt-like">
                                  <a href="javascript:;">
                                    <img src="img/like-color.jpg" alt="">{{rank.no_of_likes}}</a>
                                </div>
                                <div class="cmt">
                                  <a href="javascript:;">
                                    <img src="img/comment.png" alt="">{{rank.no_of_comments}}</a>
                                </div>
                                <div class="download">
                                  <a href="javascript:;">
                                    <img src="img/download.png" alt="">${{rank.price}}</a>
                                </div>
                                <div class="share">
                                  <a href="javascript:;">
                                    <img src="img/share.png" alt="">
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>