<section class="artist-head artist-highlight">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 vote-title">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 plr-0">
              <div class="head-global artist_header">
                <h2>Vote</h2>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <!-- <div class="mobile-search" (click)="toggleSearch()"><i class="fa fa-search" aria-hidden="true"></i> -->
                    <div class="mobile-search">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div
                      class="search-input"
                      [style]="toggSearch ? 'block' : 'none'"
                    >
                      <input
                        type="text"
                        placeholder="Search by Artist name or track"
                        (keyup)="filter($event)"
                        name="search"
                        [(ngModel)]="search_str"
                      />
                    </div>
                  </form>
                </div>
                <div class="filter-head sdg">
                  <a href="javascript:;" (click)="toggleFilter()">
                    <div class="filter-icon">
                      <img src="img/filter.png" alt="Filter Icon" />
                    </div>
                    <span>Filters <i class="fa fa-caret-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="filter-drop-down"
              [style.display]="show_filter ? 'block' : 'none'"
            >
              <div class="container">
                <div class="row">
                  <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="music-genre">
                      <div class="filter-heading">Music Genre</div>
                      <ul>
                        <li>
                          <div class="radio">
                            <label>
                              <input
                                type="radio"
                                value=""
                                disabled
                                selected
                                name="musicgenre"
                                [(ngModel)]="advance_filter.music_type"
                              />All styles
                              <div class="radio_check"></div>
                            </label>
                          </div>
                        </li>
                        <li *ngFor="let music of music_list">
                          <div class="radio">
                            <label>
                              <input
                                type="radio"
                                value="{{ music._id }}"
                                name="musicgenre"
                                [(ngModel)]="advance_filter.music_type"
                              />{{ music.name }}
                              <div class="radio_check"></div>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="sub-menu-filter">
                      <div class="filter-heading">Region</div>
                      <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Northeast</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'northeast'
                                  ? 'block'
                                  : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">southeast</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'southeast'
                                  ? 'block'
                                  : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Midwest</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'midwest'
                                  ? 'block'
                                  : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Southwest</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'southwest'
                                  ? 'block'
                                  : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">West</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'west' ? 'block' : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">other</div>
                          <ul>
                            <li
                              *ngFor="let s of state_list"
                              [style.display]="
                                s['region']['name'] == 'no region'
                                  ? 'block'
                                  : 'none'
                              "
                            >
                              <div class="checkbox">
                                <label>
                                  <input
                                    type="checkbox"
                                    [value]="s.name"
                                    (click)="
                                      addRegionForFilter(
                                        $event.target.checked,
                                        $event.target.value
                                      )
                                    "
                                  />
                                  <div class="chk_check"></div>
                                  <span>{{ s.name }}</span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="button_group">
                      <a
                        href="javascript:;"
                        (click)="toggleFilter()"
                        class="cancel-btn"
                        >Cancel</a
                      >
                      <a
                        href="javascript:;"
                        class="apply-btn"
                        (click)="advanceFilter()"
                        >Apply
                        <i
                          *ngIf="show_spinner"
                          class="fa fa-spinner fa-spin"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="vote-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contest-wrapper">
          <div class="heading">
            <h3>AOM Contest Standings</h3>
          </div>
          <div class="ana-header">
            <div class="form-group days-grp">
              <select
                #contestList
                class="form-control"
                id="days-select"
                (change)="change_contest($event)"
                name="contest"
                [(ngModel)]="contest_data"
              >
                <option
                  *ngFor="let c of contest_list"
                  value="{{ c ? c['_id'] : '' }}"
                >
                  {{ c ? c["name"] : "" }}
                </option>
              </select>
            </div>
            <ul class="ana-tabs nav nav-tabs" style="max-width: 85%">
              <li class="nav-item">
                <a class="active" data-toggle="tab" href="javascript:;"
                  >Regional Quarter Final</a
                >
              </li>
              <li class="nav-item">
                <a>{{ contest_name }}</a>
              </li>
            </ul>
            <div class="loc-icon-group">
              <a href="javascript:;" (click)="toggleTable(false)"
                ><img
                  src="img/top-location-icon.png"
                  alt="top-location-icon.png"
              /></a>
              <a href="javascript:;" (click)="toggleTable(true)"
                ><img
                  src="img/infographic-not-active.png"
                  alt="infographic-not-active.png"
              /></a>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="regionalfinals">
              <div
                class="track-table mCustomScrollbar"
                data-mcs-theme="dark-3"
                [style.display]="table_flag ? 'none' : 'block'"
              >
                <table datatable [dtOptions]="dtOptions[0]">
                  <thead>
                    <tr>
                      <td>Rank</td>
                      <td class="track_head_container">Track, Artist</td>
                      <td>Music Genre</td>
                      <td>Location</td>
                      <!-- <td>Round 1</td>
                          <td>Round 2</td>
                          <td>Round 3</td> -->
                      <td>Number of Votes</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of participants; let i = index">
                      <td class="serial-num">{{ i + 1 }}</td>
                      <td>
                        <div class="music_play">
                          <div class="artist-profile-custom-action-btn">
                            <a
                              [style.display]="
                                !audio_ins1[i] ? 'block' : 'none'
                              "
                              (click)="
                                playAudio1(
                                  p['track_id']['audio'],
                                  i,
                                  audio_ins_list1
                                )
                              "
                              class="play_img"
                              ><img src="img/play_icon.png"
                            /></a>
                            <a
                              [style.display]="audio_ins1[i] ? 'block' : 'none'"
                              (click)="stopAudio1(i, audio_ins_list1)"
                              class="pause_img"
                              ><img src="img/pause_icon.png"
                            /></a>
                          </div>
                        </div>
                        <!-- {{ p | json }} -->
                        <div class="track-pic">
                          <a href="javascript:;">
                            <img
                              width="50"
                              height="50"
                              src="{{
                                p && p['track_id'] && p['track_id']['artist_id']
                                  ? artist_img_url +
                                    p['track_id']['artist_id'].image
                                  : 'img/upload1.png'
                              }}"
                              alt="Track Image"
                            />
                          </a>
                        </div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">
                            {{ p && p["track_id"] && p["track_id"].name }}
                          </p>
                          <p class="track-singer">
                            {{
                              p && p["track_id"] && p["track_id"].artist_id
                                ? p["track_id"].artist_id.first_name
                                : "" + " " + p &&
                                  p["track_id"] &&
                                  p["track_id"].artist_id
                                ? p["track_id"].artist_id.last_name
                                : ""
                            }}
                          </p>
                        </div>
                      </td>
                      <td class="music-gen">
                        <span
                          class="tag {{
                            p &&
                            p['track_id'] &&
                            p['track_id'].artist_id.music_type
                              ? p['track_id'].artist_id.music_type.alias
                              : ''
                          }}"
                          >{{
                            p &&
                            p["track_id"] &&
                            p["track_id"].artist_id.music_type
                              ? p["track_id"].artist_id.music_type.name
                              : ""
                          }}</span
                        >
                      </td>
                      <td class="location">
                        <p>
                          <i class="fa fa-map-marker" aria-hidden="true"></i
                          ><span>{{
                            p &&
                            p["track_id"] &&
                            p["track_id"] &&
                            p["track_id"].artist_id.state
                              ? p["track_id"].artist_id.state
                              : ""
                          }}</span>
                        </p>
                      </td>
                      <!-- <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                          <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td>
                          <td class="rounds"><p>2 <img src="img/top-arrow.png" alt=""></p></td> -->
                      <td class="td track-vote">
                        <img src="img/start.png" alt="start" />
                        <span>{{ p && p ? p.number_of_vote : "0" }}</span>
                      </td>
                    </tr>
                  </tbody>
                  <!-- <tbody *ngIf="winner_list?.length === 0"> -->
                  <tbody *ngIf="participants?.length === 0">
                    <tr>
                      <td colspan="5" class="no-data-available">
                        No data available!
                      </td>
                    </tr>
                  </tbody>

                  <tbody></tbody>
                </table>
              </div>
              <div
                class="track-table mCustomScrollbar vote_infographic_table"
                data-mcs-theme="dark-3"
                [style.display]="table_flag ? 'block' : 'none'"
              >
                <table datatable [dtOptions]="dtOptions[1]">
                  <thead>
                    <tr>
                      <td>Rank</td>
                      <td>Track, Artist</td>
                      <td>Music Genre</td>
                      <td style="text-align: right !important">
                        Number of votes
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of winner_list; let i = index">
                      <td class="serial-num">{{ i + 1 }}.</td>
                      <td>
                        <div class="music_play">
                          <div class="artist-profile-custom-action-btn">
                            <a
                              [style.display]="
                                !audio_ins1[i] ? 'block' : 'none'
                              "
                              (click)="
                                playAudio1(
                                  p['track_id']['audio'],
                                  i,
                                  audio_ins_list1
                                )
                              "
                              class="play_img"
                              ><img src="img/play_icon.png"
                            /></a>
                            <a
                              [style.display]="audio_ins1[i] ? 'block' : 'none'"
                              (click)="stopAudio1(i, audio_ins_list1)"
                              class="pause_img"
                              ><img src="img/pause_icon.png"
                            /></a>
                          </div>
                        </div>
                        <div class="track-pic">
                          <a href="javascript:;">
                            <img
                              width="50"
                              height="50"
                              src="{{
                                p && p['track_id'] && p['track_id']['artist_id']
                                  ? artist_img_url +
                                    p['track_id']['artist_id'].image
                                  : 'img/upload1.png'
                              }}"
                              alt="Track Image"
                            />
                          </a>
                        </div>
                        <div class="track-det" colspan="2">
                          <p class="track-name">
                            {{
                              p && p["track_id"] && p["track_id"]["name"]
                                ? p["track_id"]["name"]
                                : ""
                            }}
                          </p>
                          <p class="track-singer">
                            {{
                              p && p["track_id"] && p["track_id"]["artist_id"]
                                ? p["track_id"]["artist_id"].first_name
                                : ""
                            }}
                            {{
                              " " + p && p["track_id"]["artist_id"]
                                ? p["track_id"]["artist_id"].last_name
                                : ""
                            }}
                          </p>
                        </div>
                      </td>
                      <td class="music-gen">
                        <span
                          class="tag {{
                            p &&
                            p['track_id'] &&
                            p['track_id']['artist_id'] &&
                            p['track_id']['artist_id']['music_type']
                              ? p['track_id']['artist_id']['music_type'][
                                  'alias'
                                ]
                              : ''
                          }}"
                          >{{
                            p &&
                            p["track_id"] &&
                            p["track_id"]["artist_id"] &&
                            p["track_id"]["artist_id"]["music_type"]
                              ? p["track_id"] &&
                                p["track_id"]["artist_id"] &&
                                p["track_id"]["artist_id"]["music_type"]["name"]
                              : ""
                          }}</span
                        >
                      </td>
                      <td class="nu-vote">
                        <div class="download-graph">
                          <ul>
                            <li class="full-info">
                              <div class="d-num">
                                <p>
                                  {{
                                    p && p["number_of_vote"]
                                      ? p["number_of_vote"]
                                      : "0"
                                  }}
                                </p>
                                <span>Votes</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="winner_list?.length == 0">
                    <tr>
                      <td
                        colspan="4"
                        style="text-align: center !important"
                        class="no-data-available"
                      >
                        No data available!
                      </td>
                    </tr>
                  </tbody>

                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="head-global">
          <h2>Cast Your Ballot</h2>
        </div>
      </div>
    </div>
    <div class="highlights-wrap mCustomScrollbar" data-mcs-theme="dark-3">
      <div class="row">
        <!-- spinner fa-spinner -->
        <!-- <div *ngIf="show_loader" class="text-center col-12">
          <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
        </div> -->

        <div
          class="alert alert-info col-sm-12"
          *ngIf="!show_loader && participants['length'] <= 0"
        >
          No data available.
        </div>
        <div
          class="col-lg-3 col-md-4 col-sm-4 col-xs-6"
          *ngFor="let p of participants; let i = index"
        >
          <div class="final-wrap">
            <div class="img-wrap">
              <img
                src="{{
                  p && p['track_id'] && p['track_id']['artist_id']
                    ? artist_img_url + p['track_id']['artist_id'].image
                    : 'img/upload1.png'
                }}"
                alt="Finalists"
              />
              <a
                (click)="followArtist(p['track_id']['artist_id']._id)"
                class="fan"
              >
                <!-- <i class="fa fa-{{p['artist'].is_followed ? 'heart' : 'heart-o'}}" aria-hidden="true"></i> -->
              </a>
            </div>
            <div class="content-wrap">
              <div class="player">
                <div class="title">
                  <a
                    href="javascript:;"
                    routerLink="/artist_profile/{{
                      p && p['track_id'] && p['track_id']['artist_id']
                        ? p['track_id']['artist_id']['_id']
                        : ''
                    }}"
                  >
                    {{
                      p && p["track_id"] && p["track_id"]["artist_id"]
                        ? p["track_id"] && p["track_id"]["artist_id"].first_name
                        : "" + " " + p &&
                          p["track_id"] &&
                          p["track_id"]["artist_id"]
                        ? p["track_id"] && p["track_id"]["artist_id"].last_name
                        : ""
                    }}
                  </a>
                </div>
                <div class="finalist-name">
                  {{
                    p && p["track_id"] ? (p["track_id"].name | titlecase) : ""
                  }}
                </div>
                <div class="action-btn custom-action-btn">
                  <a
                    [style.display]="!audio_ins[i] ? 'block' : 'none'"
                    (click)="
                      playAudio(p['track_id']['audio'], i, audio_ins_list)
                    "
                    class="play_img"
                    ><img src="img/play_icon.png"
                  /></a>
                  <a
                    [style.display]="audio_ins[i] ? 'block' : 'none'"
                    (click)="stopAudio(i, audio_ins_list)"
                    class="pause_img"
                    ><img src="img/pause_icon.png"
                  /></a>
                </div>
              </div>
              <div class="sub-con">
                <div class="location">
                  <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i
                    ><span>{{
                      p && p["track_id"] && p["track_id"].artist_id.state
                        ? p["track_id"].artist_id.state
                        : ""
                    }}</span>
                  </p>
                </div>
                <div class="td track-vote">
                  <img src="img/small-star.png" alt="start" />
                  <span>{{
                    p && p.number_of_vote ? p.number_of_vote : "0"
                  }}</span>
                </div>
                <div
                  class="cat {{
                    p && p['music_type'] ? p['music_type']['alias'] : ''
                  }}"
                >
                  {{
                    p && p["track_id"] && p["track_id"].artist_id.music_type
                      ? p["track_id"].artist_id.music_type.name
                      : ""
                  }}
                </div>
              </div>
              <button
                href="javascript:;"
                *ngIf="!p['is_voted']"
                (click)="
                  voteTrack(
                    p._id,
                    p['track_id']._id,
                    p['track_id']['artist_id']._id,
                    contestList.value,
                    i
                  )
                "
                class="add-btn"
              >
                Vote
              </button>
              <!-- <span>{{ voting }}</span> -->
            </div>
          </div>
        </div>
        <div
          class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"
          *ngIf="!show_loader && participants['length'] > 12"
        >
          <button
            class="btn btn-lg btn-default"
            (click)="loadMore()"
            [disabled]="show_spinner"
          >
            load more <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
