<div class="track-comment-wrap">
  <div class="container">
      <div class="col-md-12">
        <div class="profile-detail-wrap">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="comments">
                <h3 class="num-cmt"><a href="javascript:;" class="btn btn-primary" routerLink="/my-music"><i class="fa fa-chevron-left"></i></a> {{trackcomments.length}} Comments</h3>
                <div class="alert alert-info" *ngIf="trackcomments.length == 0">
                    No data available.
                </div>
                <div class="add-comment" *ngIf="user && user.user">
                    <form class="write_comment_section">
                      <div class="s-img"><img src="{{user['user'].image ? user_img_url+user['user'].image : 'img/fan1.png'}}" alt="img"></div>
                        <div class="form-group">
                            <label for="cmmt">Write a Comment</label>
                            <input type="text" class="form-control" id="cmmt" name="comment" [(ngModel)]="comment_txt" placeholder="Write a comment">
                          </div>
                          <div class="button_group">
                        <button type="submit" (click)="postComment()" [disabled]="show_spinner" class="update-btn">Post <i class="fa fa-spinner fa-spin" *ngIf="show_spinner"></i></button>
                      </div>
                    </form>
									</div>
                <div class="login-alert" *ngIf="!user">Please Login to leave your comment</div>
                <div class="comment-block artist_track_comment col-md-12" *ngFor="let comment of trackcomments; let i=index;">
                  <div class="s-name">{{comment['track_id']['name']}}</div>
                  <div class="pull-right remove_comment_block">
                    <a href="javascript:;" *ngIf="comment['user_id']['status'] == 'active'" (click)="blockUnblockUser(comment['user_id']['_id'])"><i class="fa fa-unlock"></i></a>
                    <a  href="javascript:;" *ngIf="comment['user_id']['status'] == 'suspended'" (click)="blockUnblockUser(comment['user_id']['_id'])"><i class="fa fa-lock"></i></a>
                    <a href="javascript:;" (click)="removeComment(comment._id)"><i class="fa fa-trash"></i></a>
                  </div>
                  <div class="s-img"><img src="{{comment['user_id']['image'] ? user_img_url+comment['user_id']['image'] : 'img/fan1.png'}}" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>{{comment['user_id']['first_name']+' '+comment['user_id']['last_name']}}.</h6>
                    <p>{{comment['created_at'] | timeAgo}}</p>
                    <div class="profile-descriptions">
                      <p>{{comment['comment']}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
