/* button.btn.prev_icon,
button.btn.next_icon,
button.btn.prev_icon:hover,
button.btn.next_icon:hover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
}

button.btn.prev_icon,
button.btn.next_icon {
    background-image: url(/img/next-purple.png);
}

button.btn.prev_icon:hover,
button.btn.next_icon:hover {
    background-image: url(/img/next-white.png);
}

button.btn.prev_icon,
button.btn.prev_icon:hover {
    transform: rotateZ(180deg);
} */
