<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<section class="player-wrapper" [style.display]="audio_instance_list.length > 0 ? 'block' : 'none'">
  <div class="container">
    <div class="row">
      <div class="col-md-11 audio_container">
          <div id="audioplayer">

              <button class="btn  prev_icon" (click)="prev()"><img src="img/next.png"/></button>
              <button id="pButton" class="play" (click)="play()"></button>
              <button class="btn  next_icon" (click)="next()"><img src="img/next.png"/></button>
              <div class="audio_profile">
                  <img src="{{audio_list[song_cnt] &&  audio_list[song_cnt]['image'] ? track_url+audio_list[song_cnt]['image'] : 'img/profile-img.png' }}"/>
              </div>
              <div class="audio_content">
                <div class="audio_profile_name">
                    <h3>Blue State of Mind</h3>
                    <span>Saven Miller</span>
                </div> 
                <div class="volume_section">
                    <img class="volume_btn" src="img/volume.png"/>
                    <span>
                        <input type="range" id="myRange" min="1" value="100" (change)="mangeVolumn($event)">
                    </span>
                    <div class="audio_time"><span id="running_time">{{running_time}}</span> / <span>{{total_time}}</span></div>
                </div>  
                <div class="progress " id="timeline">
                        <div class="progress-bar" id="playhead" role="progressbar"  aria-valuemax="100" style="width:10%">
                          <span class="sr-only">70% Complete</span>
                        </div>
                      </div>
              </div>
              <div class="music_icons">
                  <img src="img/download.png"/>
                  <img src="img/share.png"/>
              </div>


          </div>
        <div class="aom_audio_player">
        </div>
      </div>
    </div>
  </div>
</section>
