<section class="whats-new-wrap">
  <div>
    <div>
      <div class="news_header_container">
        <div class="news-header container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5">
              <div class="head-global"><h2>Whats New</h2></div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <div class="mobile-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="search-input">
                      <input type="text" placeholder="Search by Artist Name" name="search" [(ngModel)]="search_str" (keyup)="filter($event)">
                    </div>
                  </form>
                </div>
                <div class="filter-head" (click)="toggleFilter()">
                  <a href="javascript:;">
                    <div class="filter-icon"><img src="img/filter.png" alt="Filter Icon"></div>
                    <span>Filters <i class="fa fa-caret-right"></i></span>
                  </a>
                  
                </div>
              </div>
            </div>
            <div class="filter-drop-down" [style.display]="show_filter ? 'block' : 'none'">
              <div class="container">
                <div class="row">
                  <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="music-genre">
                      <div class="filter-heading">Music Genre</div>
                      <ul>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre">All styles
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li *ngFor="let m of music_type_list">
                          <div class="radio">
                              <label>
                                <input type="radio" value="{{m._id}}" name="musicgenre" [(ngModel)]="advance_filter.music_type">{{m.name}}
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="sub-menu-filter">
                    <div class="filter-heading">Region</div>
                    <div class="row">
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Northeast</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'northeast' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">southeast</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southeast' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Midwest</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'midwest' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">Southwest</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southwest' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">West</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'west' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                        <div class="filter-subhead">other</div>
                        <ul>
                          <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'other' ? 'block' : 'none'">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                  <div class="chk_check"></div>
                                  <span>{{s.name}}</span>
                                </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="button_group">
                      <a href="javascript:;" class="cancel-btn" (click)="toggleFilter()">Cancel</a>
                      <a href="javascript:;" class="apply-btn" (click)="advanceFilter()">Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="whatsnew-banner">
            <app-carousel-scroll [images]="images" [showFavourit]='true' [carouselType]='"banner"'></app-carousel-scroll>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="artist-highlight">
  <div class="container">
    <div>
      <div>
        <div class="head-global">
          <h2>Artist Highlights</h2>
        </div>
      </div>
      <div class="highlights-wrap mCustomScrollbar "  data-mcs-theme="dark-3" >
        <div class="row">
            <div *ngIf="show_loader" class="text-center col-12">
              <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
            </div>
          <div class="alert alert-info col-sm-12" *ngIf="!show_loader && whatsnewdata['artist'].length == 0">
            No data available.
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 " *ngFor="let artist of whatsnewdata['artist']; let i = index;">
            <div class="final-wrap ">
              <div class="img-wrap ">
                <a href="javascript:;" routerLink="/artist_profile/{{artist._id}}">
                  <img src="{{artist && artist.image ? artist_img_url+artist.image : 'img/highlight-player.png'}} " alt="Finalists ">
                </a>
                <a href="javascript:void(0) " class="fan " (click)="followArtist(artist._id, i)"><i class="fa {{artist.is_followed ? 'fa-heart' : 'fa-heart-o'}}" aria-hidden="true "></i></a>
              </div>
              <div class="content-wrap ">
                <div class="player ">
                  <div class="title "><a href="javascript:;">{{artist && artist.first_name ? artist.first_name : ''  +' '+ artist && artist.last_name ? artist.last_name : '' }}</a></div>
                  <div class="cat {{artist && artist['music_type'] ? artist.music_type.alias : ''}}">{{artist && artist['music_type'] ? artist['music_type']['name'] : '' }}</div>
                </div>
                <div class="location ">
                  <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>{{artist && artist['state'] ? artist.state.name : ''}}</span></p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head-global">
        <h2>Featured Artist</h2>
    </div>
    <div class="highlights-wrap mCustomScrollbar "  data-mcs-theme="dark-3" >
        <div class="row">
            <div *ngIf="feature_loader" class="text-center col-12">
              <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
            </div>
          <div class="alert alert-info col-sm-12" *ngIf="!feature_loader && featured_artist.length == 0">
            No data available.
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 " *ngFor="let artist of featured_artist; let i = index;">
            <div class="final-wrap ">
              <div class="img-wrap ">
                <a href="javascript:;" routerLink="/artist_profile/{{artist._id}}">
                  <img src="{{artist && artist.image ? artist_img_url+artist.image : 'img/highlight-player.png'}} " alt="Finalists ">
                </a>
                <a href="javascript:void(0) " class="fan " (click)="followArtist(artist._id, i)"><i class="fa {{artist.is_followed ? 'fa-heart' : 'fa-heart-o'}}" aria-hidden="true "></i></a>
              </div>
              <div class="content-wrap ">
                <div class="player ">
                  <div class="title "><a href="javascript:;">{{artist && artist.first_name ? artist.first_name : ''  +' '+ artist && artist.last_name ? artist.last_name : '' }}</a></div>
                  <div class="cat {{artist && artist['music_type'] ? artist.music_type.alias : ''}}">{{artist && artist['music_type'] ? artist['music_type']['name'] : '' }}</div>
                </div>
                <div class="location ">
                  <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>{{artist && artist['state'] ? artist.state.name : ''}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="newuploads-wrap">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="head-global "><h2>Popular Tracks</h2></div>
      </div>
      <div class="uploads-container col-md-12 ">
          <div *ngIf="show_loader" class="text-center col-12">
              <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
            </div>
            <div class="alert alert-info" *ngIf="!show_loader && whatsnewdata['track'] && whatsnewdata['track'].length == 0">
                No data available.
            </div>
            <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 " *ngFor="let track of whatsnewdata['track']; let i = index">
            <div class="upload ">
              <div class="img-wrap ">
                <img src="{{track.image ? track_url+track.image : 'img/upload1.png'}}" alt="New Uploads ">
              </div>
              <div class="content-wrap ">
                <div class="player ">
                  <div class="title "><a href="javascript:; ">{{track.name}}</a></div>
                  <div class="finalist-name ">{{track.artist_id['first_name']+' '+track.artist_id['last_name']}}</div>
                  <div class="action-btn ">
                    <a href="javascript:; ">
                        <div  class="action-btn custom-action-btn">                
                            <a  class="play_img" [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(track.audio, i, whatsnewdata['track'])"><img  src="img/play_icon.png"></a>
                            <a  class="pause_img" [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i, whatsnewdata['track'])"><img  src="img/pause_icon.png"></a>
                        </div>
                    <!-- <img src="img/play.png " alt="Pause "  [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(track.audio, i)">
                    <img src="img/pause.png " alt="Pause "  [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i)"> -->
                  </a>
                </div>
                </div>
                <div class="location ">
                  <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>{{track && track.artist_id && track.artist_id['state'] ? track.artist_id['state']['name'] : ''}}</span></p>
                  <div class="cat {{track.artist_id.music_type['alias']}}">{{track.artist_id.music_type['name']}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>