<!-- Page Content -->
<div id="page-content-wrapper">           
  <div class="artist_content" style="display: block;">
    <div class="container-fluid">
      <h3 class="Audience-Overview">Search Users </h3>
      <div class="search-input header_search">
        <input type="text" name="search" [(ngModel)]="search_str" (keyup)="filterBasedOnSearch($event)" placeholder="Search by User Name">
      </div>
      <div class="row top_header_filter">
        
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <div class="sub-menu-filter">
          <div class="artist_heading">Region</div>
          <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">Northeast</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'northeast' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">southeast</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southeast' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">Midwest</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'midwest' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">Southwest</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southwest' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">West</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'west' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <div class="filter-subhead">other</div>
                <ul>
                  <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'other' ? 'block' : 'none'">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                          <div class="chk_check"></div>
                          <span>{{s.name}}</span>
                        </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     <div>
          <h3 class="Audience-Overview">Users </h3>
          <div class="dropdown table_dropdown custom_dropdown">
            <select class="form-control custom_drop_btn" id="sort" name="sort_by" [(ngModel)]="sort_by" (change)="sortUser($event.target.value)">
              <option value="-1">Newest First</option>
              <option value="1">Newest Last</option>
            </select>
          </div> 
          <div class="artists_table copyright_table table-responsive table_max_height">
            <table class="table" datatable [dtOptions]="dtOptions">
                  <thead>
                    <tr>
                      <th>N<sup>O</sup></th>
                      <th>User Name</th>
                      <th>Status</th>
                      <th>Artist Followers</th>
                      <th>Votes Casted</th>
                      <th>Likes Casted</th>
                      <th>Comments</th>
                      <th class="action_div">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of user_data; let i = index;">
                      <td>{{i+1}}.</td>
                      <td><a href="javascript:;" (click)="openModal(template, user['_id'])">{{user['first_name']+' '+user['last_name']}}</a></td>
                      <td class="status {{user['flag'] ? 'suspended_status' : 'active_status'}}"><span>{{user['flag'] ? 'Suspended' : 'Active'}}</span></td>  
                      <td class="td_img"><img src="img/followers.png"/>{{user['no_of_followers']}}</td>                             
                      <td class="td_img"><img src="img/vote.png"/>{{user['no_of_votes']}}</td>
                      <td class="td_img"><img src="img/likes.png"/>{{user['no_of_likes']}}</td>
                      <td class="td_img"><img src="img/comments.png"/>{{user['no_of_followers']}}</td> 
                      <td class="td_img action_div"><img src="img/suspend.png">
                        <a href="javascript:;" (click)="suspendUser(user['_id'])">{{user['flag']? 'Un-suspend' : 'Suspend'}}</a>
                      </td>                               
                    </tr>                     
                  </tbody>
                </table>
          </div>
      </div>
</div>
<!-- /#page-content-wrapper -->

<ng-template #template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <div class="custom_modal">
      <div class="row" style="padding: 5px;" >
          <div class="col-sm-12">
            <div class="following_artist_header">
              <h3>{{user_detail['first_name']+' '+user_detail['last_name']}}</h3>
            </div>
            <div class="template_modal_data">
              <div>
                <span>{{user_detail['gender']}}</span>
                <span>{{user_detail['old'] }} y.o.</span>
                <span>{{user_detail['location']}}</span>
              </div>
              <div class="right_span"><span>Signup date : {{user_detail['created_at'] | date : 'yyyy/MM/dd'}}</span></div>
            </div>
            <div class="template_modal_data">
              <ul>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i>Votes {{user_detail['no_of_votes']}}</li>
                  <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like {{user_detail['no_of_likes']}}</li>
                  <li><i class="fa fa-heart-o" aria-hidden="true"></i>Followers {{user_detail['no_of_followers']}}</li>
                  <li><i class="fa fa-commenting-o" aria-hidden="true"></i>Comments {{user_detail['no_of_comments']}}</li>
              </ul>
              <div  class="right_span">

                <span>Last Login : {{user_detail['last_login'] | date : 'yyyy/MM/dd'}}</span>
              </div>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <b class="template_modal_name">Artists Following</b>
          </div>
          <div class="artists_table copyright_table table-responsive col-sm-12 table_max_height">
            <table class="table">
                <thead>
                  <tr>
                    <th>N<sup>O</sup></th>
                    <th>Artist Name</th>
                    <th>Music Genre</th>
                    <th>Tracks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let artist of user_following; let i = index;" >
                    <td>{{i+1}}</td>
                    <td>{{artist['artist_id']['first_name']+' '+artist['artist_id']['last_name']}}</td>
                    <td>{{artist['artist_id']['music_type']['name']}}</td>
                    <td >{{artist['artist_id']['no_of_tracks']}}</td>
                  </tr>
                  <tr *ngIf="artist?.length == 0">
                    <td colspan="4">No data available.</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
    <div class="row">
      <div class="col-sm-12">
        <b class="flag_head">Flags</b>
      </div>
      <div class="artists_table  table-responsive col-sm-12 table_max_height">
        <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th class="action_div">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of user_flag">
                <td>{{val.created_at | date : 'MMMM dd, yyyy'}}</td>
                <td>{{val['from']['account_type']}}</td>
                <td class="action_div">Suspended by {{val['from']['account_type']}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
</div>
</ng-template>