<div class="comment-wrap">
  <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <div class="profile-img">
            <a href="javascript:;" routerLink="/artist_profile/{{artistdata._id}}"><img src="{{artistdata.image ? artist_img_url+artistdata.image : 'img/profile-img.png'}}" alt="Profile Images"></a>
          </div>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-6">
          <div class="artist-name"><h2><a href="javascript:;">{{artistdata.first_name+' '+artistdata.last_name}}</a></h2>
            <span class="{{artistdata.music_type['alias']}} tag">{{artistdata.music_type['name']}}</span>
          </div>
          <div class="profile-location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{artistdata && artistdata['state'] ? artistdata['state']['name'] : '' }}</span></div>
          <div class="profile-description">
            <p>{{artistdata.description}}</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="profile-detail-wrap">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="comments">
                  <h3 class="num-cmt">{{artistcomments.length}} Comments</h3>
                  <div class="alert alert-info" *ngIf="artistcomments.length == 0">
                      No data available.
                  </div>
                  <div class="login-alert" *ngIf="!user">Please Login to leave your comment</div>
                  <div class="comment-block col-md-12 col-sm-12 col-xs-12" *ngFor="let comment of artistcomments;">
             
                    <div class="pull-right" *ngIf="user && user.user && comment['user_id']['_id'] != user['user']['_id']">
                        <a href="javascript:;"  (click)="flagUser(comment['user_id']['_id'])"><i class="fa fa-flag"></i></a>
                    </div>
                    <div class="pull-left up_down_container">
                      <div>
                        <a href="javascript:;" (click)="upVoteComment(comment['_id'])"><i class="chevron-up"></i></a>
                      </div>
                      <div>
                        <span>{{comment['no_of_votes']}}</span>
                      </div>
                      <div>
                        <a href="javascript:;" (click)="downVoteComment(comment['_id'])"><i class="chevron-down"></i></a>
                      </div>
                    </div>
                    <div class="comment_box">
                        <div class="s-name" *ngIf="comment.track_id">{{comment.track_id.name}}</div>
                      <div class="s-img"><img src="{{comment.user_id.image ? user_img_url+comment.user_id.image : 'img/fan1.png' }}" alt="img"></div>
                      <div class="cm-date-name">
                        <h6>{{comment.user_id.first_name+ ' '+comment.user_id.last_name}}.</h6>
                        <p>{{comment.created_at | timeAgo}}</p>
                        <div class="profile-descriptions">
                          <p>{{comment.comment}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>