<div class="track-comment-wrap">
  <div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="profile-img">
                <a href="javascript:;"><img src="{{artistdata.image ? artist_img_url+artistdata.image : 'img/profile-img.png'}}" alt="Profile Images"></a>
            </div>
          </div>
          <div class="col-md-10 col-sm-8 col-xs-6">
            <div class="abt-tr">
              <div class="play-btn">
                  <div class="artist-profile-custom-action-btn">       
                      <a [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(track.audio, 1)" class="play_img" ><img src="img/play_icon.png"/></a>
                      <a [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(1)" class="pause_img"><img src="img/pause_icon.png"/></a>
                  </div>
                <!-- <a href="javascript:;">
                  <img src="img/play.png" alt="" (click)="playAudio(track.audio, 1)" [style.display]="audio_ins.length == 0 && !audio_ins[1] ? 'block' : 'none'">
                  <img src="img/pause.png" alt="" (click)="stopAudio(1)" [style.display]="audio_ins.length > 0 && audio_ins[1] ? 'block' : 'none'">
                </a> -->
              </div>
              <div class="track-cname"><a href="javascript:;">{{track['name']}}</a></div>
              <div class="artist-name"><h2><a href="javascript:;">{{artistdata.first_name+' '+artistdata.last_name}}</a></h2></div>
            </div>
            <div class="action">
                <div class="cmt-like"><a href="javascript:;" class="liked"><img src="img/likehand.png" alt="">{{track.no_of_likes}}</a></div>
                <div class="download"><a href="javascript:;"><img src="img/download.png" alt="">${{track.price}}</a></div>
                <div class="share"><a href="javascript:;"><img src="img/share.png" alt=""></a></div>
  
              </div>
            <div class="profile-location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span>
            <p class="{{artistdata['music_type']['alias']}} tag">{{artistdata['music_type']['name']}}</p></div>
  
            <div class="profile-description">
              <p>{{track.description}}</p>
              
            </div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="profile-detail-wrap">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="comments">
                <h3 class="num-cmt">{{trackcomments.length}} Comments</h3>
                <div class="add-comment" *ngIf="user && user.user">
                    <form>
                      <div class="s-img"><img src="{{user['user'].image ? user_img_url+user['user'].image : 'img/fan1.png'}}" alt="img"></div>
                        <div class="form-group">
                            <label for="cmmt">Write a Comment</label>
                            <input type="text" class="form-control" id="cmmt" name="comment" [(ngModel)]="comment_txt" placeholder="Write a comment">
                          </div>
                          <div class="button_group">
                        <button type="submit" (click)="postComment()" [disabled]="show_spinner" class="update-btn">Post <i class="fa fa-spinner fa-spin" *ngIf="show_spinner"></i></button>
                      </div>
                    </form>
									</div>
                <div class="login-alert" *ngIf="!user">Please Login to leave your comment</div>
                <div class="comment-block col-md-12" *ngFor="let comment of trackcomments; let i=index;">
                  <div class="s-name">{{comment['track_id']['name']}}</div>
                  <div class="pull-right" *ngIf="user && user.user && comment['user_id']['_id'] != user['user']['_id']">
                      <a href="javascript:;"  (click)="flagUser(comment['user_id']['_id'])"><i class="fa fa-flag"></i></a>
                    </div>
                  <div class="s-img"><img src="{{comment['user_id']['image'] ? user_img_url+comment['user_id']['image'] : 'img/fan1.png'}}" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>{{comment['user_id']['first_name']+' '+comment['user_id']['last_name']}}.</h6>
                    <p>{{comment['created_at'] | timeAgo}}</p>
                    <div class="profile-descriptions">
                      <p>{{comment['comment']}}</p>
                    </div>
                  </div>
                  

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
