<div class="comment-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="profile-img">
          <a href="#"><img src="img/profile-img.png" alt="Profile Images"></a>
        </div>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-6">
        <div class="artist-name"><h2><a href="#">Shavan Miller</a></h2><span class="hiphop tag">Hip Hop</span></div>
        <div class="profile-location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>
        <div class="profile-description">
          <p>Lorem ipsum dolor sit amet,  adipisicing elit. Et reiciendis consequuntur nostrum molestias officiis, fuga quibusdam natus labore tempora vel accusamus doloribus eligendi quconsecteturod consectesicing elit. Et reiciendis consequuntur nostrum molestias officiis, fuga quibusdam natus labore tempora vel accusamus doloribus eligendi quconsecteturod consectetur omnis, numquam, voluptate fugit laboriosam.</p>
          <span><a href="#" class="more-link"></a></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="profile-detail-wrap">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="comments">
                <h3 class="num-cmt">6450 Comments</h3>
                <div class="login-alert">Please Login to leave your comment</div>
                <div class="comment-block">
                  <div class="s-name">Blue State of Mind</div>
                  <div class="s-img"><img src="img/fan1.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Liz D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                  

                </div>
                <div class="comment-block">
                  <div class="s-name">What About You</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>John D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                </div>
                <div class="comment-block">
                  <div class="s-name">Tomorrow</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Natasha J.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                  

                </div>
                <div class="comment-block">
                  <div class="s-name">Blue State of Mind</div>
                  <div class="s-img"><img src="img/fan1.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Liz D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                  

                </div>
                <div class="comment-block">
                  <div class="s-name">What About You</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>John D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                </div>
                <div class="comment-block">
                  <div class="s-name">Tomorrow</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Natasha J.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                  

                </div>
                <div class="comment-block">
                  <div class="s-name">Blue State of Mind</div>
                  <div class="s-img"><img src="img/fan1.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Liz D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                  

                </div>
                <div class="comment-block">
                  <div class="s-name">What About You</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>John D.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                </div>
                <div class="comment-block">
                  <div class="s-name">Tomorrow</div>
                  <div class="s-img"><img src="img/fan2.png" alt="img"></div>
                  <div class="cm-date-name">
                    <h6>Natasha J.</h6>
                    <p>2 day ago</p>
                    <div class="profile-descriptions">
                      <p>Lorem ipsum dolor sit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur adiamet, consectetur adipiscing elit, sed do eiusmod tempor inciit amet, consectetur diamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
