 <!-- Page Content -->
<div id="page-content-wrapper">  
  <div class="text-right">
    <button class="create_contest_btn btn" *ngIf="user['admin']['account_type'] == 'super_admin'" (click)="openContestModel(contest)">Create New Admin</button>
  </div>         
  <div>
    <h3 class="Audience-Overview">Administrators</h3>
    <div class="dropdown table_dropdown custom_dropdown">
      <select class="form-control custom_drop_btn" id="sort" name="sort_by" [(ngModel)]="sort" (change)="sortRole(0)">
        <option value="name">Sort by Name</option>
        <option value="account_type">Role</option>
        <option value="created_at">Date Creation</option>
        <option value="suspend">Suspended</option>
      </select>
    </div> 
    <div class="artists_table contest_table table-responsive table_max_height">
      <table class="table" datatable [dtOptions]="dtOptions[0]">
            <thead>
              <tr>
                <th>N<sup>O</sup></th>
                <th class="admin_name_th">Administrator Name</th>
                <th>Role</th>
                <th>Date Creation</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles_data; let i = index;">
              <td>{{role_row_cnt + i}}.</td>
              <td>{{role['first_name']+' '+role['last_name']}}</td>
              <td>{{role['account_type']}}</td>
              <td>{{role['created_at'] | date : 'MMMM dd, yyyy'}}</td>
              <td class="td_img actions">
                
                <div class="icon_container" *ngIf="user['admin']['account_type'] == 'super_admin' && role['account_type'] != 'super_admin'">
                    <i class="fa fa-trash"></i>
                  <a href="javascript:;"  (click)="removeAdmin(role['_id'], 0)"> Delete</a>&nbsp;
                  
               
              </div>
             
                <div class="icon_container" *ngIf="user['admin']['account_type'] == 'super_admin' && role['account_type'] != 'super_admin'">
                    <img src="img/suspend.png" >
                  <a href="javascript:;"  (click)="suspendAdmin(role['_id'], 0, role['status'])">
                    {{role['status'] == 'suspended' ? 'un-suspend' : 'Suspend'}}
                  </a>
                
              </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="roles_data?.length == 0">
                <tr>
                    <td colspan="5" class="no-data-available">No data available!</td>
                </tr>
            <tbody>
          </table>
    </div>
  </div>
  <div>
    <h3 class="Audience-Overview">Requests</h3>
    <div class="dropdown table_dropdown custom_dropdown">
      <select class="form-control custom_drop_btn" id="sort" name="sort_by" [(ngModel)]="sort_request" (change)="sortRequest(1)">
        <option value="-1">Sort by End Date</option>
        <option value="1">Sort by Start Date</option>
      </select>
    </div> 
    <div class="artists_table contest_table table-responsive table_max_height">
      <table class="table" datatable [dtOptions]="dtOptions[1]">
            <thead>
              <tr>
                <th>N<sup>O</sup></th>
                <th class="admin_name_th">Name</th>
                <th>Date</th>
                <th>Message</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of request_data; let i = index;">
              <td>{{req_row_cnt + i}}.</td>
              <td>{{role['name']}}</td>
              <td>{{role['created_at'] | date : 'MMMM dd, yyyy'}}</td>
              <td>{{role['admin_id']['first_name']+" "+role['admin_id']['last_name']+ "("+ role['admin_id']['account_type']+")"}}</td>
              <td class="td_img actions">
                <div style="position:relative;">
                <div *ngIf="user['admin']['account_type'] == 'super_admin' || user['admin']['account_type'] == 'admin'">
                    <div *ngIf="!role['action']">
                      <i class="fa fa-check-square-o"></i>
                      <a href="javascript:;" (click)="acceptRequest(role['_id'], 1)"> Accept</a>&nbsp;
                    </div>
                </div>
                <div *ngIf="role['action'] && role['action'] == 'accepted'">
                  <i class="fa fa-check-square-o"></i>
                   Accepted &nbsp;
                </div>
                <div *ngIf="user['admin']['account_type'] == 'super_admin' || user['admin']['account_type'] == 'admin'">
                    <div *ngIf="!role['action']">
                      <i class="fa fa-ban"></i>
                      <a href="javascript:;" (click)="rejectRequest(role['_id'], 1)">
                        Reject
                      </a>
                    </div>
                </div>
                <div *ngIf="role['action'] && role['action'] == 'rejected'">
                  <i class="fa fa-ban"></i>
                   Rejected &nbsp;
                </div>
              </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="request_data?.length == 0">
                <tr>
                    <td colspan="5" class="no-data-available">No data available!</td>
                </tr>
            <tbody>
          </table>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<ng-template #contest>
  <button type="button" class="close pull-right" aria-label="Close" (click)="contestModelRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <form [formGroup]="add_admin">
      <div class="creat_contest_body">
        <div class="col-sm-12 text-center">
          <h4 class="custom_modal_head">Create New Admin</h4>
        </div>
        <div class="form-group custom_modal_form">
          <label class="control-label">First Name</label>
          <input name="fname" class="form-control" formControlName="fname"  [(ngModel)]="user_data.first_name" />
          <div class="terms_error_msg" *ngIf="add_admin_validation && !add_admin.controls['fname'].valid">
              <span *ngIf="add_admin.controls['fname'].errors['required']" class="text-danger">First Name is required.</span>
              <span *ngIf="!add_admin.controls['fname'].errors['required'] && add_admin.controls['fname'].errors['whitespace']" class="text-danger">Enter valid data.</span>
          </div>
        </div>
        <div class="form-group custom_modal_form">
          <label class="control-label">Last Name</label>
          <input name="lname" class="form-control" formControlName="lname"  [(ngModel)]="user_data.last_name" />
          <div class="terms_error_msg" *ngIf="add_admin_validation && !add_admin.controls['lname'].valid">
              <span *ngIf="add_admin.controls['lname'].errors['required']" class="text-danger">Last Name is required.</span>
              <span *ngIf="!add_admin.controls['lname'].errors['required'] && add_admin.controls['lname'].errors['whitespace']" class="text-danger">Enter valid data.</span>
          </div>
        </div>
        <div class="form-group custom_modal_form">
          <label class="control-label">Account Type</label>
          <select class="form-control" name="account_type" formControlName="account_type"  [(ngModel)]="user_data.account_type">
            <option value="">Select Account Type</option>
            <option value="admin">Admin</option>
            <option value="moderator">Moderator</option>
          </select>
          <div class="terms_error_msg" *ngIf="add_admin_validation && !add_admin.controls['account_type'].valid">
              <span *ngIf="add_admin.controls['account_type'].errors['required']" class="text-danger">Account type is required.</span>
          </div>
        </div>
        <div class="form-group custom_modal_form">
          <label class="control-label">Email</label>
          <input type="email" name="email" class="form-control" formControlName="email"  [(ngModel)]="user_data.email"/>
          <div class="terms_error_msg" *ngIf="add_admin_validation && !add_admin.controls['email'].valid">
              <span *ngIf="add_admin.controls['email'].errors['required']" class="text-danger">Email is required.</span>
              <span *ngIf="!add_admin.controls['email'].errors['required'] && add_admin.controls['email'].errors['email']" class="text-danger">Email Mismatched.</span>
          </div>
        </div>
        <div [formGroup]="passwordFormGroup">
          <div class="form-group custom_modal_form">
            <label class="control-label">Password</label>
            <input type="password" name="password" class="form-control" formControlName="password"  [(ngModel)]="user_data.password"/>
            <div class="pwd-icon"><i class="fa fa-eye" aria-hidden="true"></i></div>
            <div class="terms_error_msg" *ngIf="add_admin_validation && !passwordFormGroup.controls['password'].valid">
                <span *ngIf="passwordFormGroup.controls['password'].errors['required']" class="text-danger">Password is required.</span>
                <span *ngIf="!passwordFormGroup.controls['password'].errors['required'] && passwordFormGroup.controls['password'].errors['minlength']" class="text-danger">Must be longer than 6 characters.</span>
            </div>
          </div>
          <div class="form-group custom_modal_form">
            <label class="control-label">Confirm Password</label>
            <input type="password" name="conf" class="form-control" formControlName="conf"/>
            <div class="pwd-icon"><i class="fa fa-eye" aria-hidden="true"></i></div>
            <div class="terms_error_msg" *ngIf="add_admin_validation && !passwordFormGroup.controls['conf'].valid">
                <span *ngIf="passwordFormGroup.controls['conf'].errors['required']" class="text-danger">Confirm Password is required.</span>
                <span *ngIf="!passwordFormGroup.controls['conf'].errors['required'] && passwordFormGroup.controls['conf'].errors['minlength']" class="text-danger">Must be longer than 6 characters.</span>
                <span *ngIf="!passwordFormGroup.controls['conf'].errors['required'] && passwordFormGroup.controls['conf'].errors['mismatch']" class="text-danger">Please enter correct confirm password.</span>
            </div>
          </div>
        </div>
        <div class="row modal_btns">
            <div class="col-sm-6">
                <button type="button" class="custom_cancel_btn btn" (click)="contestModelRef.hide()">Cancel</button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="custom_save btn" (click)="addNewAdmin(0, add_admin.valid)" [disabled]="show_spinner">Create <i class="fa fa-spinner fa-spin" *ngIf="show_spinner"></i></button>
            </div>
          </div>
      </div>
    </form>
  </div>
</ng-template>