<section class="mymusic-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <div class="track-menu">
          <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
              <a class="nav-link {{tab_cnt == 1 ? 'active' : ''}}" (click)="tabChanged(1)" data-toggle="tab" href="javascript:;" >My Tracks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{tab_cnt == 2 ? 'active' : ''}}" (click)="tabChanged(2)"  data-toggle="tab" href="javascript:;" >Stats</a>
            </li>
          </ul>
          
          <p><a data-fancybox data-animation-duration="700" data-src="#addtrack" (click)="openModal(content)"  href="javascript:;"><img src="img/icons8-plus_mathNormal.png" alt="Plus Icone"> Add Track</a></p>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade {{tab_cnt == 1 ? 'show active' : ''}}" id="mytracks">
            <div class="track-table">
              <!-- <div class="alert alert-info" *ngIf="tracklist.length == 0">
                No data available.
              </div> -->
              <table datatable [dtOptions]="dtOptions" class="my_track_table">
                <tbody>
                  <tr *ngFor="let t of tracklist; let i =  index;">
                    <td class="serial-num">{{i+1}}.</td>
                    <td class="play-option">
                      <a href="javascript:;" [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(t.audio, i, tracklist)" >
                        <img src="img/new-play.png" alt="Play" >
                      </a>
                      <a href="javascript:;" [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i, tracklist)" >
                        <img src="img/pause.png" alt="Play" >
                      </a>
                    </td>

                    <td class="track-det" colspan="2">
                      <div class="track-pic">
                        <a href="javascript:;">
                          <img src="{{track_url+t.image}}" *ngIf="t.image" width="50" height="50" alt="Track Image">
                          <img src="img/track-img.png" *ngIf="!t.image" alt="Track Image">
                        </a>
                      </div>
                      <div class="track_title">
                        <p class="track-name">{{t.name}}</p>
                        <p class="track-singer">{{userinfo.artist.first_name + ' '+ userinfo.artist.last_name}}</p>
                        <p class="track-year">{{t.created_at | date : 'MMMM dd, yyyy'}}</p>
                      </div>
                    </td>
                    <td class="td track-vote" style="display: none;">
                      <img src="img/start.png" alt="start">
                      <span>1300 <br> <span>Votes</span></span>
                    </td>
                    <td class="td track-vote" *ngIf="t.is_submit">
                      <img src="img/start.png" alt="start">
                      <span>{{t.no_of_votes}} <br> <span>Votes</span></span>
                    </td>
                    <td class="contest-btn" *ngIf="!t.is_submit">
                      <a  data-fancybox data-animation-duration="700" (click)="openContestModal(contest, t)" data-src="#submitcontest" href="javascript:;">Submit for a Contest</a>
                    </td>
                    <td class="action" colspan="2">
                      <div class="track-like" style="top:10px;">
                          <label class="switch" title="Track Download status">
                              <input type="checkbox"  [checked]="t.is_downloadable" (change)="updateTrackDownLoadStatus(t._id)" />
                              <!-- <input type="checkbox" *ngIf="!t.is_downloadable" (change)="updateTrackDownLoadStatus(t._id)" /> -->
                              <span class="slider round"></span>
                          </label>
                      </div>
                      <div class="track-like">
                        <a href="javascript:;"><img src="img/likehand.png" alt="Like Thumb"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-comment">
                        <a href="javascript:;" routerLink="/artist_track_comment/{{t._id}}"><img src="img/comment.png" alt="Comment"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-price"><a href="javascript:;">${{t.price}}</a></div>
                      <div class="share"><a href="javascript:;" (click)="openShareTrackModel(shareTrack, i)"><img src="img/share.png" alt="Track Share"></a></div>
                      <div class="track-edit"><a data-fancybox data-animation-duration="700" data-src="#edittrack" (click)="openEditTrackModal(editTrack, t)"  href="javascript:;"><img src="img/edit.png" alt="Track Edit"></a></div>
                      <div class="track-del"><a data-fancybox data-animation-duration="700" data-src="#delete" (click)="removeTrack(t._id)" href="javascript:;"><img src="img/del.png" alt="Track Delete"></a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade {{tab_cnt == 2 ? 'show active' : ''}}" id="stats">
            <div class="track-table">
                <!-- <div class="alert alert-info" *ngIf="tracklist.length == 0">
                  No data available.
                </div> -->
              <table>
                <tbody>
                  <tr *ngFor="let t of tracklist; let i =  index;">
                    <td class="serial-num">{{i+1}}.</td>
                    <td class="play-option">
                        <a href="javascript:;" [style.display]="!audio_ins[i] ? 'block' : 'none'" (click)="playAudio(t.audio, i, tracklist)" >
                            <img src="img/new-play.png" alt="Play" >
                        </a>
                        <a href="javascript:;" [style.display]="audio_ins[i] ? 'block' : 'none'" (click)="stopAudio(i, tracklist)" >
                          <img src="img/pause.png" alt="Play" >
                        </a>
                        
                    </td>
                    <td class="track-pic"><a href="javascript:;">
                        <img src="{{track_url+t.image}}" *ngIf="t.image" width="50" height="50" alt="Track Image">
                        <img src="img/track-img.png" *ngIf="!t.image" alt="Track Image">
                    </a></td>
                    <td class="track-det" colspan="2">
                      <p class="track-name">{{t.name}}</p>
                      <p class="track-singer">{{userinfo.artist.first_name + ' '+ userinfo.artist.last_name}}</p>
                      <p class="track-year">{{t.created_at | date : 'MMMM dd, yyyy'}}</p>
                    </td>
                    <td class="td track-vote">
                      <img src="img/start.png" alt="start">
                      <span>{{t.no_of_votes}} <br> <span>Votes</span></span>
                    </td>
                    <td class="action" colspan="2">
                      <div class="track-like">
                        <a href="javascript:;"><img src="img/likehand.png" alt="Like Thumb"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-comment">
                        <a href="javascript:;" routerLink="/artist_track_comment/{{t._id}}"><img src="img/comment.png" alt="Comment"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-price"><a href="javascript:;">${{t.price}}</a></div>
                      <div class="share"><a href="javascript:;" (click)="openShareTrackModel(shareTrack, i)"><img src="img/share.png" alt="Track Share"></a></div>
                      <div class="track-edit"><a data-fancybox data-animation-duration="700" data-src="#edittrack"  href="javascript:;"><img src="img/edit.png" alt="Track Edit"></a></div>
                      <div class="track-del"><a data-fancybox data-animation-duration="700" data-src="#delete"  href="javascript:;"><img src="img/del.png" alt="Track Delete"></a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-c="close" let-d="dismiss" >
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
  <div class="modal-body">
    <div class="add-track-modal">
			<h3>Add New Track</h3>
			<div class="media-upload-btn" *ngIf="!audio_file"> 
				<span class="upl-img"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span> 
				<span class="up_text">Select Music</span> 
				<input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeAudio($event)" multiple="false"> 
				<p class="instrution">AIFF,WAV,FLAC,MP3 or AAC, 3GB or less</p>
      </div>
      <div class="media-upload-btn" *ngIf="audio_file">
        <span class="track_name">{{audio_file.name}}</span>
        <div class="upload-btn-div">
          <label for="fileUpload">Upload a Different Track</label>
          <input type="file" name="my_doc_upload" (change)="changeAudio($event)" id="my_doc_upload" multiple="false"> 
        </div>
      </div>
			<div class="media_progress_bar">
				<div class="det">
					<div class="upl-file-name">My Summer.mp3</div>
					<div class="upl-time-rem">5 sec remaining</div>
					<div class="close-btn"><img src="img/closeNormal.png" alt="Close-btn"></div>
				</div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				      <span class="sr-only">70% Complete</span>
				    </div>
				  </div>
			</div>
			<div class="form-group tr-name">
			    <label for="tname">Track Name</label>
			    <input type="text" class="form-control" id="tname" name="name" [(ngModel)]="trackdata.name" placeholder="Track Name">
		  	</div>
		  	<div class="form-group tr-price">
			    <label for="tname">Price</label>
			    <input type="number" class="form-control" id="tname" name="price" [(ngModel)]="trackdata.price" placeholder="$ 1399">
		  	</div>
		  	<div class="textarea-upload">
			  	<div class="media-upload-btn song-photo" *ngIf="!add_track_img"> 
  					<span class="upl-img"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span> 
  					<span class="up_text">Upload <br>Photo</span> 
  					<input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeFile($event)" multiple="false"> 
          </div>
          <div class="upload-cover" *ngIf="add_track_img" style="width:92.5px;height:85px;"> 
            <img src="{{add_track_img}}" alt="Edit cover Image" >
            <input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeFile($event)" multiple="false">
          </div>
				  <div class="form-group">
            <label>Description</label>
            <textarea name="description" placeholder="Description" [(ngModel)]="trackdata.description" class="form-control" ></textarea>
          </div>
      </div>
			<div class="button_group">
				<button class="add-btn" (click)="addTrack()" [disabled]="show_spinner">Add Track <i  *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
			</div>
	  </div>
  </div>
</ng-template>
<ng-template #editTrack let-c="close" let-d="dismiss">
  	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
  <div class="modal-body">
    <form>
    <div class="edit-track-modal">
        <h3>Edit Track</h3>
        <div class="form-group tr-name">
            <label for="tname">Track Name</label>
            <input type="text" class="form-control" id="tname" name="name" [(ngModel)]="trackdata.name" placeholder="Track Name">
          </div>
          <div class="form-group tr-price">
            <label for="tname">Price</label>
            <input type="text" class="form-control" id="tname" name="price" placeholder="$ 1399" [(ngModel)]="trackdata.price">
          </div>
          <div class="textarea-upload">
            <div class="edit-profile-picture">
            <div class="upload-cover"> 
              <img src="{{edit_image}}" alt="Edit cover Image">
              <input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeTrackImage($event)" multiple="false">
              <a data-fancybox="" data-animation-duration="700" data-src="#delete" *ngIf="trackdata.image" href="javascript:;" (click)="removeTrackImage(trackdata._id)" class="delete"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" [(ngModel)]="trackdata.description" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
        <div class="button_group">
            <a href="javascript:;" class="pull-left cancel_button"  (click)="d('Cross click')">
              <span aria-hidden="true">Cancel</span>
            </a>
          <button type="submit" (click)="updateTrack()" [disabled]="show_spinner" class="update-btn pull-right">Save <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
        </div>
    </div>
    </form>
  </div>
</ng-template>
<ng-template #contest let-c="close" let-d="dismiss">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="modal-body">
        <div class="contest-wrap" >
          <h3>Submit for a contest</h3>
          <div class="contest-table" data-mcs-theme="dark-3">
            <div class="alert alert-info" *ngIf="contest_list.length == 0">
              No data available.
            </div>
            <table>
              <tr *ngFor="let con of contest_list; let i = index;">
                <td>
                    <!-- <input type="radio" value="{{con._id}}" name="card" [(ngModel)]="contest_id" /> -->
                  <div class="radio">
                      <label>
                        <input type="radio" value="{{con._id}}" name="card" [(ngModel)]="contest_id" />
                        <span class="radio_check"></span>
                      </label>
                  </div>
                </td>
                <td><img src="img/conest-img.jpg" alt="Contest Image"></td>
                <td>
                  <h3 class="c-name">{{con.name}}</h3>
                  <div class="c-dates">{{con.start_date | date : 'MMMM dd, yyyy'}} - {{con.end_date | date : 'MMMM dd, yyyy'}}</div>
                  <div class="c-part">{{con.no_of_participants}} Contest Participants</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="button_group">
            <button type="submit" [disabled]="show_spinner" (click)="addTrackToContest()" class="add-btn">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
    </div>
</ng-template>

<ng-template #shareTrack let-c="close" let-d="dismiss" >
  <div class="modal_login_wrapper">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="shared_popup">
          <div class="col-12 text-center shared_popup_header">
              <h4>Share This Track</h4>
              <span>You are Sharing the "{{audio_list && audio_list[this.song_cnt] ? audio_list[this.song_cnt]['name'] : '' }}" Track</span>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="col-12">
                      <button class="btn btn-primary social_button fb_btn" (click)="shareOnFacebook()">
                          <i class="fa fa-facebook"></i> Facebook
                      </button>
                  </div>
                  <div class="col-12">
                      <button class="btn btn-success social_button comment_btn" (click)="openPhoneShareTrackModel(phoneno)">
                          <i class="fa fa-comment "></i> SMS
                      </button>
                  </div>
                  <div class="col-12">
                      <button class="btn btn-primary social_button link_btn" (click)="copy_link()" tooltip="Link Coppied" triggers="click">
                          <i class="fa fa-link"></i> Copy Link
                      </button>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="col-12">
                      <button class="btn btn-info social_button twitter_btn" (click)="shareOnTwitter()">
                          <i class="fa fa-twitter"></i> Twitter
                      </button>
                  </div>
                  <div class="col-12">
                      <button class="btn btn-danger social_button email_btn" (click)="openEmailShareTrackModel(email)">
                          <i class="fa fa-envelope"></i> Email
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-template>

<ng-template #email let-c="close" let-d="dismiss">
<div class="modal-body">
  <div class="forget_password_modal">
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <form [formGroup]="share_form">
        <h3 class="forget_password_header">Share through email</h3>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label custom_form_label">Email Id</label>
                <input type="email" class="form-control custom_form" formControlName="email" name="email" [(ngModel)]="share_data['email']"  placeholder="Enter Email"/>
                <div class="cust_err_msg" *ngIf="share_form_validation && !share_form.controls['email'].valid">
                    <span *ngIf="share_form.controls['email'].errors['required']" class="text-danger">Email is required.</span>
                    <span *ngIf="!share_form.controls['email'].errors['required'] && share_form.controls['email'].errors['email']" class="text-danger">Enter valid email.</span>
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn forget_btn" (click)="share_via_email(share_form.valid)" [disabled]="show_spinner">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
            </div>
        </div>
    </form>
 </div>
</div>
</ng-template>

<ng-template #phoneno let-c="close" let-d="dismiss">
<div class="modal-body">
  <div class="forget_password_modal">
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <form [formGroup]="share_form_phone">
        <h3 class="forget_password_header">Share through sms</h3>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label custom_form_label">Phone Number</label>
                <input type="email" class="form-control custom_form" formControlName="phone" name="phone" [(ngModel)]="share_data['phone_no']"  placeholder="Enter Phone Number"/>
                <div class="cust_err_msg" *ngIf="share_form_validation && !share_form_phone.controls['phone'].valid">
                    <span *ngIf="share_form_phone.controls['phone'].errors['required']" class="text-danger">Phone Number is required.</span>
                    <span *ngIf="!share_form_phone.controls['phone'].errors['required'] && share_form_phone.controls['phone'].errors['minlength'] || share_form_phone.controls['phone'].errors['maxlength'] " class="text-danger">Enter valid phone Number.</span>
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn forget_btn" (click)="share_via_sms(share_form_phone.valid)" [disabled]="show_spinner">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
            </div>
        </div>
    </form>
 </div>
</div>
</ng-template>