<section class="mymusic-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="track-menu">
          <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
              <a class="nav-link {{tab_cnt == 1 ? 'active' : ''}}" (click)="tabChanged(1)" data-toggle="tab" href="javascript:;" >My Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{tab_cnt == 2 ? 'active' : ''}}" (click)="tabChanged(2)"  data-toggle="tab" href="javascript:;" >Stats</a>
            </li>
          </ul>
          
          <p><a data-fancybox data-animation-duration="700" data-src="#addtrack" (click)="openModal(content)"  href="javascript:;"><img src="img/icons8-plus_mathNormal.png" alt="Plus Icone"> Add Track</a></p>
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade {{tab_cnt == 1 ? 'show active' : ''}}" id="mytracks">
            <div class="track-table">
              <table>
                <tbody>
                  <tr *ngFor="let t of tracklist; let i =  index;">
                    <td class="serial-num">{{i+1}}.</td>
                    <td class="play-option">
                      <a href="javascript:;" (click)="playAudio(t.audio, i)" *ngIf="!audio_ins[i]">
                        <img src="img/new-play.png" alt="Play" >
                      </a>
                      <a href="javascript:;" (click)="stopAudio(i)" *ngIf="audio_ins[i]">
                        <img src="img/pause.png" alt="Play" >
                      </a>
                    </td>
                    <td class="track-pic"><a href="javascript:;">
                      <img src="{{track_url+t.image}}" *ngIf="t.image" width="50" height="50" alt="Track Image">
                      <img src="img/track-img.png" *ngIf="!t.image" alt="Track Image">
                    </a></td>
                    <td class="track-det" colspan="2">
                      <p class="track-name">{{t.name}}</p>
                      <p class="track-singer">{{userinfo.artist.first_name + ' '+ userinfo.artist.last_name}}</p>
                      <p class="track-year">{{t.created_at | date : 'MMMM dd, yyyy'}}</p>
                    </td>
                    <td class="td track-vote" style="display: none;">
                      <img src="img/start.png" alt="start">
                      <span>1300 <br> <span>Votes</span></span>
                    </td>

                    <td class="contest-btn" >
                      <a data-fancybox data-animation-duration="700" (click)="openContestModal(contest, t)" data-src="#submitcontest" href="javascript:;">Submit for a Contest</a>
                    </td>
                    <td class="action" colspan="2">
                      <div class="track-like">
                        <a href="javascript:;"><img src="img/likehand.png" alt="Like Thumb"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-comment">
                        <a href="javascript:;"><img src="img/comment.png" alt="Comment"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-price"><a href="#">${{t.price}}</a></div>
                      <div class="share"><a href="javascript:;"><img src="img/share.png" alt="Track Share"></a></div>
                      <div class="track-edit"><a data-fancybox data-animation-duration="700" data-src="#edittrack" (click)="openEditTrackModal(editTrack, t)"  href="javascript:;"><img src="img/edit.png" alt="Track Edit"></a></div>
                      <div class="track-del"><a data-fancybox data-animation-duration="700" data-src="#delete" (click)="removeTrack(t._id)" href="javascript:;"><img src="img/del.png" alt="Track Delete"></a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade {{tab_cnt == 2 ? 'show active' : ''}}" id="stats">
            <div class="track-table">
              <table>
                <tbody>
                  <tr *ngFor="let t of tracklist; let i =  index;">
                    <td class="serial-num">{{i+1}}.</td>
                    <td class="play-option">
                        <a href="javascript:;" (click)="playAudio(t.audio, i)" *ngIf="!audio_ins[i]">
                          <img src="img/new-play.png" alt="Play" >
                        </a>
                        <a href="javascript:;" (click)="stopAudio(i)" *ngIf="audio_ins[i]">
                          <img src="img/pause.png" alt="Play" >
                        </a>
                    </td>
                    <td class="track-pic"><a href="javascript:;">
                        <img src="{{track_url+t.image}}" *ngIf="t.image" width="50" height="50" alt="Track Image">
                        <img src="img/track-img.png" *ngIf="!t.image" alt="Track Image">
                    </a></td>
                    <td class="track-det" colspan="2">
                      <p class="track-name">{{t.name}}</p>
                      <p class="track-singer">{{userinfo.artist.first_name + ' '+ userinfo.artist.last_name}}</p>
                      <p class="track-year">{{t.created_at | date : 'MMMM dd, yyyy'}}</p>
                    </td>
                    <td class="td track-vote">
                      <img src="img/start.png" alt="start">
                      <span>{{t.no_of_votes}} <br> <span>Votes</span></span>
                    </td>
                    <td class="action" colspan="2">
                      <div class="track-like">
                        <a href="javascript:;"><img src="img/likehand.png" alt="Like Thumb"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-comment">
                        <a href="javascript:;"><img src="img/comment.png" alt="Comment"></a>
                        <span class="new-up"></span>
                      </div>
                      <div class="track-price"><a href="javascript:;">${{t.price}}</a></div>
                      <div class="share"><a href="javascript:;"><img src="img/share.png" alt="Track Share"></a></div>
                      <div class="track-edit"><a data-fancybox data-animation-duration="700" data-src="#edittrack"  href="javascript:;"><img src="img/edit.png" alt="Track Edit"></a></div>
                      <div class="track-del"><a data-fancybox data-animation-duration="700" data-src="#delete"  href="javascript:;"><img src="img/del.png" alt="Track Delete"></a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header" style="border:none;">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
  </div>
  <div class="modal-body">
    <div class="add-track-modal">
			<h3>Add New Track</h3>
			<div class="media-upload-btn"> 
				<span class="upl-img"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span> 
				<span class="up_text">Select Music</span> 
				<input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeAudio($event)" multiple="false"> 
				<p class="instrution">AIFF,WAV,FLAC,MP3 or less</p>
			</div>
			<div class="media_progress_bar">
				<div class="det">
					<div class="upl-file-name">My Summer.mp3</div>
					<div class="upl-time-rem">5 sec remaining</div>
					<div class="close-btn"><img src="img/closeNormal.png" alt="Close-btn"></div>
				</div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				      <span class="sr-only">70% Complete</span>
				    </div>
				  </div>
			</div>
			<div class="form-group tr-name">
			    <label for="tname">Track Name</label>
			    <input type="text" class="form-control" id="tname" name="name" [(ngModel)]="trackdata.name" placeholder="Track Name">
		  	</div>
		  	<div class="form-group tr-price">
			    <label for="tname">Price</label>
			    <input type="number" class="form-control" id="tname" name="price" [(ngModel)]="trackdata.price" placeholder="$ 1399">
		  	</div>
		  	<div style="clear: both; display: inline-block;">
			  	<div class="media-upload-btn song-photo"> 
  					<span class="upl-img"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span> 
  					<span class="up_text">Upload <br>Photo</span> 
  					<input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeFile($event)" multiple="false"> 
  				</div>
				<div class="track-description">
					<div class="additional-details">
						<div class="about-you">
							<label for="fname">Describe Yourself</label>
              <p>Lorem ipsum dolor sit amet, consectetur adipisiciLorem ipsum dolor sit amet, consectetur adipisici/p>
              <!-- textarea name="description" placeholder="Describe Yourself" [(ngModel)]="trackdata.description"></textarea-->
						</div>
					</div>
				</div>
      </div>
      <div class="form-group">
        <label>Describe Yourself</label>
        <textarea name="description" placeholder="Describe Yourself" [(ngModel)]="trackdata.description" class="form-control" ></textarea>
      </div>
      <div class="form-group">
        <label>Select Music Type</label>
        <select class="form-control" name="music_type" [(ngModel)]="trackdata.music_type">
          <option value="">Select music type</option>
          <option *ngFor="let music of music_type_list" value="{{music._id}}">{{music.name}}</option>
        </select>
      </div>
			<div class="button_group">
				<button class="add-btn" (click)="addTrack()" [disabled]="show_spinner">Add Track <i  *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
			</div>
	  </div>
  </div>
</ng-template>
<ng-template #editTrack let-c="close" let-d="dismiss">
  <div class="modal-header" style="border:none;">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
  </div>
  <div class="modal-body">
    <form>
    <div class="edit-track-modal">
        <h3>Edit Track</h3>
        <div class="form-group tr-name">
            <label for="tname">Track Name</label>
            <input type="text" class="form-control" id="tname" name="name" [(ngModel)]="trackdata.name" placeholder="Track Name">
          </div>
          <div class="form-group tr-price">
            <label for="tname">Price</label>
            <input type="text" class="form-control" id="tname" name="price" placeholder="$ 1399" [(ngModel)]="trackdata.price">
          </div>
          <div style="clear: both; display: inline-block;">
            <div class="edit-profile-picture">
            <div class="upload-cover"> 
              <img src="{{edit_image}}" alt="Edit cover Image">
              <input type="file" name="my_doc_upload" id="my_doc_upload" (change)="changeTrackImage($event)" multiple="false">
              <a data-fancybox="" data-animation-duration="700" data-src="#delete" *ngIf="trackdata.image" href="javascript:;" (click)="removeTrackImage(trackdata._id)" class="delete"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="track-description">
            <div class="additional-details">
              <div class="about-you">
                <label for="fname">Describe Yourself</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisiciLorem ipsum dolor sit amet, consectetur adipisici</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Describe Yourself</label>
          <textarea name="description" [(ngModel)]="trackdata.description"></textarea>
        </div>
        <div class="form-group">
          <label>Select Music Type</label>
          <select class="form-control" name="music_type" [(ngModel)]="trackdata.music_type">
            <option value="">Select music type</option>
            <option *ngFor="let music of music_type_list" value="{{music._id}}">{{music.name}}</option>
          </select>
        </div>
        <div class="button_group">
          <button type="submit" (click)="updateTrack()" [disabled]="show_spinner" class="update-btn">Update <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
        </div>
    </div>
    </form>
  </div>
</ng-template>
<ng-template #contest let-c="close" let-d="dismiss">
    <div class="modal-header" style="border:none;">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="contest-wrap" >
          <h3>Add New Track</h3>
          <div class="" data-mcs-theme="dark-3" style="max-height: 300px;overflow: auto;">
            <table>
              <tr *ngFor="let con of contest_list; let i = index;">
                <td>
                    <input type="radio" value="{{con._id}}" name="card" [(ngModel)]="contest_id" />
                  <!--div class="radio">
                      <label>
                        <input type="radio" value="{{con._id}}" name="card" [(ngModel)]="contest_id" />
                        <span class="radio_check"></span>
                      </label>
                  </div-->
                </td>
                <td><img src="img/conest-img.jpg" alt="Contest Image"></td>
                <td>
                  <h3 class="c-name">{{con.name}}</h3>
                  <div class="c-dates">{{con.start_date | date : 'MMMM dd, yyyy'}} - {{con.end_date | date : 'MMMM dd, yyyy'}}</div>
                  <div class="c-part">{{con.no_of_participants}} Contest Participants</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="button_group">
            <button type="submit" [disabled]="show_spinner" (click)="addTrackToContest()" class="add-btn">Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
          </div>
        </div>
    </div>
</ng-template>