<section class="artist-head artist-highlight">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 plr-0">
              <div class="head-global artist_header"><h2>Artists</h2></div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <div class="mobile-search" (click)="toggleSearch()"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="search-input" [style]="toggSearch ? 'block' : 'none'">
                      <input type="text" placeholder="Search by Artist Name" (keyup)="filterArtistv1($event)" name="search" [(ngModel)]="search_str" required />
                      
                    </div>
                  </form>
                </div>
                <div class="filter-head sdg">
                  <a href="javascript:;" (click)="toggleFilter()">
                    <div class="filter-icon"><img src="img/filter.png" alt="Filter Icon"></div>
                    <span>Filters <i class="fa fa-caret-right"></i></span>
                  </a>
                  
                </div>
              </div>
            </div>
            <div class="filter-drop-down" [style.display]="show_filter ? 'block' : 'none'">
              <div class="container">
                <div class="row">
                  <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="music-genre">
                      <div class="filter-heading">Music Genre</div>
                      <ul>
                        <li>
                          <div class="radio">
                              <label>
                                <input type="radio" value="" name="musicgenre" [(ngModel)]="adv_filter.music_type">All styles
                                <div class="radio_check"></div>
                              </label>
                          </div>
                        </li>
                        <li *ngFor="let music of music_list;">
                            <div class="radio">
                                <label>
                                  <input type="radio" value="{{music._id}}" name="musicgenre" [(ngModel)]="adv_filter.music_type">{{music.name}}
                                  <div class="radio_check"></div>
                                </label>
                            </div>
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="sub-menu-filter">
                    <div class="filter-heading">Region</div>
                      <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Northeast</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'northeast' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">southeast</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southeast' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Midwest</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'midwest' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">Southwest</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'southwest' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">West</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'west' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                          <div class="filter-subhead">other</div>
                          <ul>
                            <li *ngFor="let s of state_list;" [style.display]="s['region']['name'] == 'other' ? 'block' : 'none'">
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [value]="s._id" (click)="addRegionForFilter($event.target.checked, $event.target.value)">
                                    <div class="chk_check"></div>
                                    <span>{{s.name}}</span>
                                  </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="button_group">
                      <a href="javascript:;" (click)="toggleFilter()" class="cancel-btn">Cancel</a>
                      <a href="javascript:;" class="apply-btn" (click)="advanceFilter()">Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="artist-highlight">
  <div class="container">
    <div class="rising-star">
      <div class="row">
        <div class="col-sm-12">
          <div class="head-global"><h2>Rising Stars</h2></div>
        </div>
      </div>
        <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3">
          <div class="row">
            <div *ngIf="show_loader" class="text-center col-12">
              <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
            </div>
            <div class="alert alert-info col-sm-12" *ngIf="!show_loader && artistv1['rising_stars'] && artistv1['rising_stars']['length'] <= 0">No data available.</div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let artist_rising of artistv1.rising_stars; let i = index;">
                <div class="final-wrap ">
                  <div class="img-wrap ">
                    <a href="javascript:;" routerLink="/artist_profile/{{artist_rising && artist_rising._id ? artist_rising._id : '' }}">
                    <img lazyLoad="{{artist_rising.image ? artist_img_url+artist_rising.image : 'img/upload1.png'}} " defaultImage="img/loader.gif" offset="100" alt="Finalists "></a>
                    <a href="javascript:void(0) " class="fan " (click)="followArtist(artist_rising._id, i)"><i class="fa {{artist_rising && artist_rising['is_followed'] ? 'fa-heart' : 'fa-heart-o'}} " title="Follow" aria-hidden="true "></i></a>
                  </div>
                  <div class="content-wrap ">
                    <div class="player ">
                      <div class="title "><a href="javascript:;" routerLink="/artist_profile/{{artist_rising && artist_rising._id ? artist_rising._id : '' }}">{{artist_rising.first_name +' '+artist_rising.last_name}}</a></div>
                      <div class="cat {{artist_rising && artist_rising.music_type ? artist_rising.music_type.alias : ''}}">{{artist_rising && artist_rising.music_type ?  artist_rising.music_type.name : ''}}</div>
                    </div>
                    <div class="location ">
                      <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>{{artist_rising && artist_rising.state ? artist_rising.state.name : ''}}</span></p>
                    </div>
                  </div>
                </div>
            </div>        
  
          </div>
        </div>
     
    </div>

    <div class="chart-topper" style="padding:30px 0;">
      <div>
        <div>
          <div class="head-global"><h2>Chart Toppers</h2></div>
        </div>
        <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3">
          <div class="row">
              <div *ngIf="show_loader" class="text-center col-12">
                  <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
              </div>
              <div class="alert alert-info col-sm-12" *ngIf="!show_loader && artistv1['chart_toppers'] && artistv1['chart_toppers']['length'] <= 0">No data available.</div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let artist_chart of artistv1.chart_toppers; let i = index;">
                  <div class="final-wrap ">
                    <div class="img-wrap ">
                      <a href="javascript:;" routerLink="/artist_profile/{{artist_chart['artist']._id}}">
                      <img lazyLoad="{{artist_chart['artist'].image ? artist_img_url+artist_chart['artist'].image : 'img/upload1.png'}} " defaultImage="img/loader.gif" offset="100" alt="Finalists "></a>
                      <a href="javascript:void(0) " class="fan " (click)="followArtist(artist_chart['artist']._id, i)"><i class="fa {{artist_chart['artist']['is_followed'] ? 'fa-heart' : 'fa-heart-o'}}" title="Follow" aria-hidden="true "></i></a>
                    </div>
                    <div class="content-wrap ">
                      <div class="player ">
                        <div class="title "><a href="javascript:;" routerLink="/artist_profile/{{artist_chart['artist']._id}}">{{artist_chart['artist'].first_name +' '+artist_chart['artist'].last_name}}</a></div>
                        <div class="cat {{artist_chart['artist']['music_type']['alias']}}">{{artist_chart['artist']['music_type']['name']}}</div>
                      </div>
                      <div class="location ">
                        <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>{{artist_chart && artist_chart['artist'].state ? artist_chart['artist'].state.name : ''}}</span></p>
                        
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-artists" *ngIf="user && user['user']">
      <div class="row">
        <div class="col-md-12">
          <div class="head-global"><h2>My Artists</h2></div>
        </div>
      </div>
        <div class="highlights-wrap">
          <div class="row">
            <div class="alert alert-info col-sm-12" *ngIf="my_follower_list && my_follower_list['length'] <= 0">No data available.</div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let my of my_follower_list;let i = index;">
              <div class="final-wrap">
                <div class="img-wrap">
                  <img lazyLoad="{{my['artist_id']['image'] ? artist_img_url+my['artist_id']['image'] : 'img/upload1.png'}}" defaultImage="img/loader.gif" offset="100" alt="Finalists">
                </div>
                <div class="content-wrap">
                  <div class="player">
                    <div class="title"><a href="javascript:;" routerLink="/artist_profile/{{my['artist_id']['_id']}}">{{my['artist_id']['first_name']+' '+my['artist_id']['last_name']}}</a></div>
                    <div class="cat {{my['artist_id']['music_type']['alias']}}">{{my['artist_id']['music_type']['name']}}</div>
                  </div>
                  <div class="location">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>{{my && my['artist_id'] &&  my['artist_id'].state ? my['artist_id'].state.name : ''}}</span></p>
                    
                  </div>
                </div>
              </div>
            </div>           
          </div>
        </div>

    </div>
  </div>
</section>