<section class="artist-highlight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-global"><h2>Artist Highlights</h2></div>
      </div>
      <div class="highlights-wrap mCustomScrollbar " data-mcs-theme="dark-3">
        <div class="row">
          <div class="alert alert-info" *ngIf="artistdata.artist.lenghth <= 0">No data available.</div>
          <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let artist of artistdata.artist; let i = index;">
              <div class="final-wrap ">
                <div class="img-wrap ">
                  <a href="javascript:;" routerLink="/artist_profile/{{artist._id}}">
                  <img src="{{artist.image ? artist_img_url+artist.image : 'img/highlight-player.png'}} " alt="Finalists "></a>
                  <a href="javascript:void(0) " class="fan " (click)="followArtist(artist._id, i)"><i class="fa {{artist['is_followed'] ? 'fa-heart' : 'fa-heart-o'}} " aria-hidden="true "></i></a>
                </div>
                <div class="content-wrap ">
                  <div class="player ">
                    <div class="title "><a href="javascript:;" routerLink="/artist_profile/{{artist._id}}">{{artist.first_name +' '+artist.last_name}}</a></div>
                    <div class="cat {{artist.music_type.alias}}">{{artist.music_type.name}}</div>
                  </div>
                  <div class="location ">
                    <p><i class="fa fa-map-marker " aria-hidden="true "></i><span>Brooklyn, New York</span></p>
                    
                  </div>
                </div>
              </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</section>