<!-- Page Content -->
<div id="page-content-wrapper">
           
    <div class="container-fluid">
        <!-- <div>
            <h3 class="Audience-Overview">Copyright Notices </h3>
            <div class="artists_table copyright_table table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>N<sup>O</sup></th>
                        <th>Artist Name</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Shavn Miller</td>
                        <td>May 12, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Anna Bill</td>
                        <td>May 11, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Lilo</td>
                        <td>May 11, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Jocanne Murr</td>
                        <td>May 11, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Lordi</td>
                        <td>May 10, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr>             
                    <tr>
                        <td>6.</td>
                        <td>Lordi</td>
                        <td>May 10, 2018</td>
                        <td class="td_img"><div class="meassge_td"><img src="img/vote.png"/>Lorem ipsum dolor sit amet, adipiscing</div></td>
                        <td class="td_img"><img src="img/likes.png"/>Suspend</td>
                    </tr> 
                    </tbody>
                  </table>
            </div>
        </div> -->
        <div>
            <h3 class="Audience-Overview">Flagged Messages</h3>
            <div class="artists_table community_tabel table-responsive table_max_height">
                <table class="table" datatable [dtOptions]="dtOptions[0]">
                    <thead>
                      <tr>
                        <th>N<sup>O</sup></th>
                        <th>Artist Name</th>
                        <th>Date</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of flagged_list; let i = index;">
                            <td>{{flag_row_cnt + i}}</td>
                            <td>{{val['first_name']+' '+val['last_name']}}</td>
                            <td>{{val['created_at'] | date:'M d, yyyy'}}May 12, 2018</td>
                            <td class="td_img">
                                {{val['account_type']}} has been {{val['status']}}.
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="flagged_list?.length == 0">
                        <tr>
                            <td colspan="4" class="no-data-available">No data available!</td>
                        </tr>
                    <tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->