/* body {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-content: center;
      overflow: hidden;
    } */

    /* .wrapper__one,
    .wrapper__two {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 45vh;
      height: 100vh;
      width: 100%;
    }

    .wrapper__two {
      background: white;
      perspective: 500px;
    }

    .rect {
      height: 25px;
      width: 14px;
      background: #9b26b0;
      margin: 0 0.4em;
      display: inline-block;
      border-radius: 10px;
    }

    .rect__one {
      height: 50px;
      margin: 25px 0.4em;
      opacity: 0.4;
      animation: door 1s infinite;
      animation-timing-function: linear;
    }

    .rect__two {
      height: 69px;
      margin: 12px 0.4em;
      opacity: 0.8;
      animation: door 1s infinite;
      animation-delay: 0.08s;
      animation-timing-function: linear;
    }

    .rect__three {
      height: 97px;
      margin: 0 0.4em;
      opacity: 1;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__four {
      height: 69px;
      margin: 12px 0.4em;
      opacity: 0.7;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__five {
      height: 52px;
      margin: 25px 0.4em;
      opacity: 0.6;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__six {
      height: 35px;
      margin: 35px 0.4em;
      opacity: 0.4;
      animation: door 1s infinite;
      animation-timing-function: linear;
    }

    @keyframes door {
      0% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1);
      }
    } */