/* body{
  overflow: hidden;
}

#loader {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      text-align: center;
      vertical-align: middle;
    }

    #loader>img {
      width: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #loader i {
      color: #46a3f5;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      height: 48px;
      width: 48px;
    }

    .wrapper__one,
    .wrapper__two {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 45vh;
      height: 100vh;
      width: 100%;
    }

    .wrapper__two {
      background: white;
      perspective: 500px;
    }

    .rect {
      height: 25px;
      width: 10px;
      background: #9b26b0;
      margin: 0 0.3em;
      display: inline-block;
      border-radius: 10px;
    }

    .rect__one {
      height: 40px;
      margin: 25px 0.3em;
      opacity: 0.4;
      animation: door 1s infinite;
      animation-timing-function: linear;
    }

    .rect__two {
      height: 62px;
      margin: 12px 0.3em;
      opacity: 0.8;
      animation: door 1s infinite;
      animation-delay: 0.08s;
      animation-timing-function: linear;
    }

    .rect__three {
      height: 92px;
      margin: 0 0.3em;
      opacity: 1;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__four {
      height: 64px;
      margin: 12px 0.3em;
      opacity: 0.8;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__five {
      height: 42px;
      margin: 25px 0.3em;
      opacity: 0.6;
      animation: door 1s infinite;
      animation-delay: 0.15s;
      animation-timing-function: linear;
    }

    .rect__six {
      height: 25px;
      margin: 35px 0.3em;
      opacity: 0.4;
      animation: door 1s infinite;
      animation-timing-function: linear;
    }


    @keyframes door {
      0% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1);
      }
    } */