<!-- Page Content -->
<div id="page-content-wrapper">
           
        <div class="container-fluid">
            <h3 class="Audience-Overview">Audience Overview </h3>
            <div class="ana-header">
                <div class="form-group days-grp custom_dropdown">
                    <select class="form-control" id="days-select" name="analytics_day" (change)="changeAnalyticsDays()" [(ngModel)]="analytics_days">
                        <option value="7">7 Days</option>
                        <option value="14">14 Days</option>
                        <option value="30">1 Month</option>
                    </select>

                </div>
                <!-- <div class="dropdown custom_dropdown">
                  <button type="button" class="btn dropdown-toggle Days" data-toggle="dropdown">
                    7 days
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Link 1</a>
                    <a class="dropdown-item" href="javascript:;">Link 2</a>
                    <a class="dropdown-item" href="javascript:;">Link 3</a>
                  </div>
                </div> -->
                <ul class="header_ul">
                    <li class="{{home_tab_cnt == 1 ? 'active' : ''}}" (click)="homeTabChange(1)"><a>Votes</a></li>
                    <li class="{{home_tab_cnt == 2 ? 'active' : ''}}" (click)="homeTabChange(2)"><a>Likes</a></li>
                    <li class="{{home_tab_cnt == 3 ? 'active' : ''}}" (click)="homeTabChange(3)"><a>Comments</a></li>
                </ul>
            </div>
            <div>
                <h3 class="Last-7-Days-April-2">Last {{analytics_days}} Days: {{show_duration_date}}</h3>
                <div class="graph_container">
                    <!-- <img src="img/graph.jpg" /> -->
                    <div [chart]="artist_chart"></div>
                </div>
            </div>
            <div>
                <h3 class="Audience-Overview">Top Artists </h3>
                <div class="artists_table table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>N<sup>O</sup></th>
                            <th>Artist Name</th>
                            <th>Location</th>
                            <th>Gender</th>
                            <th>Music Genre</th>
                            <th>Tracks</th>
                            <th>Votes</th>
                            <th>Likes</th>
                            <th>Followers</th>
                            <th>Comments</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let artist of artist_vote['artist'];let i = index;">
                            <td>{{i+1}}.</td>
                            <td>{{artist.first_name + ' '+ artist.last_name}}</td>
                            <td>New York</td>
                            <td>{{artist.gender | titlecase}}</td>
                            <td>{{artist['music_type']['name']}}</td>
                            <td>{{artist.no_of_tracks}}</td>
                            <td class="td_img"><img src="img/vote.png"/>{{artist.no_of_votes}}</td>
                            <td class="td_img"><img src="img/likes.png"/>{{artist.no_of_likes}}</td>
                            <td class="td_img"><img src="img/followers.png"/>{{artist.no_of_followers}}</td>
                            <td class="td_img"><img src="img/comments.png"/>{{artist.no_of_comments}}</td>                                
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div>
                <h3 class="Audience-Overview">Top Locations </h3>
                <div class="location_top">
                    <img src="img/location_img.jpg" />
                </div>
                <ng-container *ngIf="top_location_chart">
                    <div [chart]="top_location_chart"></div>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->