<!-- Page Content -->
<div id="page-content-wrapper">
           
        <div class="container-fluid">
            <h3 class="Audience-Overview">Audience Overview </h3>
            <div>
                <div class="dropdown custom_dropdown">
                  <button type="button" class="btn dropdown-toggle Days" data-toggle="dropdown">
                    7 days
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Link 1</a>
                    <a class="dropdown-item" href="javascript:;">Link 2</a>
                    <a class="dropdown-item" href="javascript:;">Link 3</a>
                  </div>
                </div>
                <ul class="header_ul">
                    <li class="active"><a>Votes</a></li>
                    <li><a>Likes</a></li>
                    <li><a>Comments</a></li>
                </ul>
            </div>
            <div>
                <h3 class="Last-7-Days-April-2">Last 7 Days: April 23, 2018 - May 1, 2018</h3>
                <div class="graph_container">
                    <img src="img/graph.jpg" />
                </div>
            </div>
            <div>
                <h3 class="Audience-Overview">Top Artists </h3>
                <div class="artists_table table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>N<sup>O</sup></th>
                            <th>Artist Name</th>
                            <th>Location</th>
                            <th>Gender</th>
                            <th>Music Genre</th>
                            <th>Tracks</th>
                            <th>Votes</th>
                            <th>Likes</th>
                            <th>Followers</th>
                            <th>Comments</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td>Shavn Miller</td>
                            <td>New Youk</td>
                            <td>Male</td>
                            <td>Hiphop</td>
                            <td>12</td>
                            <td class="td_img"><img src="img/vote.png"/>200</td>
                            <td class="td_img"><img src="img/likes.png"/>2560</td>
                            <td class="td_img"><img src="img/followers.png"/>4670</td>
                            <td class="td_img"><img src="img/comments.png"/>23467</td>                                
                          </tr>
                              <tr>
                            <td>2.</td>
                            <td>Shavn Miller</td>
                            <td>New Youk</td>
                            <td>Male</td>
                            <td>Hiphop</td>
                            <td>12</td>
                            <td class="td_img"><img src="img/vote.png"/>200</td>
                            <td class="td_img"><img src="img/likes.png"/>2560</td>
                            <td class="td_img"><img src="img/followers.png"/>4670</td>
                            <td class="td_img"><img src="img/comments.png"/>23467</td>                                
                          </tr>
                              <tr>
                            <td>3.</td>
                            <td>Shavn Miller</td>
                            <td>New Youk</td>
                            <td>Male</td>
                            <td>Hiphop</td>
                            <td>12</td>
                            <td class="td_img"><img src="img/vote.png"/>200</td>
                            <td class="td_img"><img src="img/likes.png"/>2560</td>
                            <td class="td_img"><img src="img/followers.png"/>4670</td>
                            <td class="td_img"><img src="img/comments.png"/>23467</td>                                
                          </tr>
                              <tr>
                            <td>4.</td>
                            <td>Shavn Miller</td>
                            <td>New Youk</td>
                            <td>Male</td>
                            <td>Hiphop</td>
                            <td>12</td>
                            <td class="td_img"><img src="img/vote.png"/>200</td>
                            <td class="td_img"><img src="img/likes.png"/>2560</td>
                            <td class="td_img"><img src="img/followers.png"/>4670</td>
                            <td class="td_img"><img src="img/comments.png"/>23467</td>                                
                          </tr>
                              <tr>
                            <td>5.</td>
                            <td>Shavn Miller</td>
                            <td>New Youk</td>
                            <td>Male</td>
                            <td>Hiphop</td>
                            <td>12</td>
                            <td class="td_img"><img src="img/vote.png"/>200</td>
                            <td class="td_img"><img src="img/likes.png"/>2560</td>
                            <td class="td_img"><img src="img/followers.png"/>4670</td>
                            <td class="td_img"><img src="img/comments.png"/>23467</td>                                  
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>
            <div>
                <h3 class="Audience-Overview">Top Locations </h3>
                <div class="location_top">
                    <img src="img/location_img.jpg" />
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->