 <!-- Page Content -->
 <div id="page-content-wrapper">  
  <div class="text-right">
    <button class="create_contest_btn btn">Create Contest</button>
  </div>         
           <div>
                <h3 class="Audience-Overview">Contests </h3>
                <div class="dropdown table_dropdown custom_dropdown">
                  <select class="form-control custom_drop_btn" id="sort" name="sort_by" [(ngModel)]="sort" (change)="sortArtist()">
                    <option value="-1">Sort By End Date</option>
                    <option value="1">Sort By Start Date</option>
                  </select>
                </div> 
                <div class="artists_table contest_table table-responsive">
                  <table class="table" datatable [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th>N<sup>O</sup></th>
                            <th>Contest Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Days Remain</th>
                            <th>Music Genre</th>
                            <th>Region</th>
                            <th>Participants</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let contest of contest_data; let i = index;">
                          <td>{{i+1}}.</td>
                          <td>{{contest['name']}}</td>
                          <td>{{contest['start_date'] | date : 'MMMM dd, yyyy'}}</td>
                          <td>{{contest['end_date'] | date : 'MMMM dd, yyyy'}}</td>
                          <td>{{contest['days']}}</td>
                          <td>{{contest['music_type']['name']}}</td>
                          <td>{{contest['location']}}</td>
                          <td><a href="javascript:;" (click)="openModal(paricipant, contest['_id'])">{{contest['no_of_participants']}}</a></td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
    </div>
    <!-- /#page-content-wrapper -->
<ng-template #paricipant>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <div class="row">
      <div class="artists_table copyright_table table-responsive col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Artist Name</th>
                <th>Track Name</th>
                <th>Votes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contest of participant_data; let i = index;">
                <td>{{i+1}}</td>
                <td>{{contest['artist_id']['first_name']+' '+contest['artist_id']['last_name']}}</td>
                <td>{{contest['track_id']['name']}}</td>
                <td>{{contest['artist_id']['no_of_votes']}}</td>
              </tr>
              <tr *ngIf="participant_data?.length == 0">
                <td colspan="4">No data available.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>