<section class="artist-head artist-highlight">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 plr-0">
              <div class="head-global artist_header">
                <h2>Messages</h2>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <div class="mobile-search">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="mark-as-read">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <span>Mark as read</span>
                    </div>
                  </form>
                </div>
                <div class="delete-mail">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="inbox-tabel">
  <div class="container">
    <table style="width: 100%" id="label-header">
      <tr>
        <th class="check-all">
          <input type="checkbox" id="allcb" name="allcb" />
        </th>
        <th class="from">From</th>
        <th class="message">Message</th>
        <th class="receive-time">Received</th>
      </tr>
      <tr>
        <td><input type="checkbox" id="cb1" name="cb[]" /></td>
        <td>Northeast Hiphop (2)</td>
        <td class="text-msg">
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs. The passage is attributed to
          an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
          type specimen book.
        </td>
        <td>15:25</td>
      </tr>
      <tr>
        <td colspan="4">
          <hr />
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" id="cb1" name="cb[]" /></td>
        <td>Northeast Hiphop (2)</td>
        <td class="text-msg">
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs. The passage is attributed to
          an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
          type specimen book.
        </td>
        <td>15:25</td>
      </tr>
      <tr>
        <td colspan="4">
          <hr />
        </td>
      </tr>
    </table>
  </div>
</section>
