.new-head {
  color: #808080;
}
.text-msg {
  overflow: hidden;
  white-space: nowrap;
  max-width: 800px;
  text-overflow: ellipsis;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#label-header th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f6eaf8;
  color: black;
}

#label-header td,
#label-header th {
  padding: 8px;
}

input {
  width: 18px;
  height: 23px;
  margin: 5px;
}

form.ng-untouched.ng-pristine.ng-valid {
  float: right;
}

.top-right-button {
  color: #808080 !important;
  text-decoration: none !important;
}

.top-right-button:hover {
  color: #9b26b0 !important;
  text-decoration: none !important;
}

td.noDataFound {
  text-align: center;
}

.unRead {
  font-weight: bold;
  font-size: 15px;
}

img.OpenMseesageImg {
  width: 65px;
}

.messageHeader {
  display: flex;
}

.text {
  padding: 4px;
  text-align: justify;
  height: 246px;
  overflow: auto;
}

.CustomCheckbox.form-group {
  display: block;
  margin-bottom: 0;
}
.CustomCheckbox.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.CustomCheckbox.form-group label {
  position: relative;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
}
.CustomCheckbox.form-group label:before {
  content: "";
  background-color: #fff;
  border: 1px solid #c2c2c2;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  display: block;
}
.CustomCheckbox.form-group input:checked + label::before {
  content: "";
  background: #9b26b0;
  border-color: #9b26b0;
}
.CustomCheckbox.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
