<section class="artist-head artist-highlight">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 plr-0">
              <div class="head-global artist_header">
                <h2>Messages</h2>
              </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-7">
              <div class="new-head">
                <div class="search-wrap">
                  <form>
                    <div class="mobile-search">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="mark-as-read">
                      <a
                        href="javascript:;"
                        class="top-right-button"
                        (click)="markAsRead()"
                        ><i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>Mark as read</span></a
                      >
                    </div>
                  </form>
                </div>
                <div class="delete-mail">
                  <a
                    href="javascript:;"
                    class="top-right-button"
                    (click)="delete()"
                    ><i class="fa fa-trash" aria-hidden="true"></i>
                    <span>Delete</span></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="inbox-tabel">
  <div class="container">
    <table style="width: 100%" id="label-header">
      <tr>
        <th class="check-all">
          <input
            type="checkbox"
            value="m1"
            [(ngModel)]="masterSelected"
            (change)="checkUncheckAll()"
          />
        </th>
        <th class="from">From</th>
        <th class="message">Message</th>
        <th class="receive-time">Received</th>
      </tr>
      <tr *ngIf="checklist.length === 0">
        <td class="noDataFound" colspan="4">No data Found.</td>
      </tr>
      <tr *ngFor="let item of checklist">
        <td>
          <!-- {{ selected.id }} -->
          <input
            type="checkbox"
            [(ngModel)]="item.isSelected"
            name="list_name"
            value="{{ item.id }}"
            (change)="isAllSelected()"
          />
        </td>
        <td
          [ngClass]="{ unRead: item.receivers.isSeen === 0 }"
          (click)="openMessageDialog(openMessage, item._id)"
        >
          {{ item.contest_id.name }}
        </td>
        <td
          class="text-msg"
          [ngClass]="{ unRead: item.receivers.isSeen === 0 }"
        >
          {{ item.message }}
        </td>
        <td [ngClass]="{ unRead: item.receivers.isSeen === 0 }">
          {{ item.createdAt }}
        </td>
      </tr>
    </table>
  </div>
</section>

<ng-template #openMessage let-c="close" let-d="dismiss">
  <div class="modal_login_wrapper">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="login-modal">
        <div class="messageHeader">
          <div>
            <img
              class="OpenMseesageImg"
              src="../../../img/austin-neill-247234-unsplashNormal.png"
            />
          </div>
          <div class="col-md-12">
            <h3>{{ messageData.contest_id.name }}</h3>
            <p>{{ messageData.displayTime }} ({{ messageData.diffTime }})</p>
          </div>
        </div>
        <div class="contentMessage">
          <div class="text">
            {{ messageData.message }}
          </div>
        </div>
        <div class="login-btn">
          <button (click)="closeMessageDialog()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
